<div role="page" id="subpage-fragment-work" lang="en">
     <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1000/1000/nightlife/1)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1000/1000/nightlife/2)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1000/1000/nightlife/3)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1000/1000/nightlife/4)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1000/1000/nightlife/5)"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    
    <div class="header">
        <div class="frame"><img src="/static/img/products/TasteBud@2x.png" srcset="/static/img/products/TasteBud@1x.png 1x, /static/img/products/TasteBud@2x.png 2x" alt="" class="ios" /></div>
    </div>
    <div class="wrapper-small">
        <div class="grid">
            <div class="grid__col grid__col--2-of-2 title">
                <h2>TasteBud</h2>
            </div>
            <div class="grid__col grid__col--1-of-2">
                <div class="text-container">
                    <p>TasteBud creates new customers and offsets static overhead for restaurants by offering variable discounts at off-peak hours. Over the last three years, I have worked with them to redesign and rebrand their app, and further explore new app features.</p>
                </div>
            </div>
            <div class="grid__col grid__col--1-of-2">
                <div class="text-container">
                    <dl>
                        <dt>Year</dt>
                        <dd>2014 - 2016</dd>
                        <dt>Services</dt>
                        <dd>iOS, Android, Branding, Product Design</dd>
                        <dt>Client</dt>
                        <dd>Azul Mobile, Inc.</dd>
                        <dt>Website</dt>
                        <dd><a href="https://trytastebud.com" target="_blank">trytastebud.com</a></dd>
                    <!--<dt>Contact</dt>
                        <dd><a href="https://www.linkedin.com/in/allentsai1/" target="_blank">Allen Tsai, VP of Product</a></dd>-->
                    </dl>
                </div>
            </div>          
        </div>
    </div>
    <div class="screens">
        <ul>
            <li><img src="/static/img/work/TasteBud/screen1-1.png" alt="" /></li>
            <li><img src="/static/img/work/TasteBud/screen1-2.png" alt="" /></li>
            <li><img src="/static/img/work/TasteBud/screen1-3.png" alt="" /></li>
            <li><img src="/static/img/work/TasteBud/screen1-4.png" alt="" /></li>
            <li><img src="/static/img/work/TasteBud/screen1-5.png" alt="" /></li>
        </ul>
    </div>
    <div class="grid">
        <div class="grid__col grid__col--2-of-2"><h2>Specimens</h2></div>
        <div class="grid__col grid__col--2-of-2">
            <div class="specimen drawer-icons"></div>
            <div class="specimen older-screens"></div>
            <div class="specimen before-after"></div>
        </div>
        <div class="grid__col grid__col--2-of-2">
                <div class="text-container">
                    <p>Following the app's soft launch, we spent the Summer of 2014 rebranding Azul. I worked with the company's founder to iterate names and brand characters, and we eventually hired Greg Anthony Thomas to create and perfect the TasteBud logotype, while I worked on the app icon.</p>
                </div>
        </div>
        <div class="grid__col grid__col--2-of-2">
            <div class="specimen brand"></div>
            <div class="specimen brand-sketches"></div>
        </div>
        <div class="grid__col grid__col--2-of-2"><h2>Marketing</h2></div>
        <div class="grid__col grid__col--2-of-2">
            <div class="specimen Mustaches_and_Margaritas"></div>
            <div class="specimen Printed_Cards"></div>
        </div>
    </div>   
</div>
