<p id="header-fragment-album" lang="en" class="header-text"><a href="https://medium.com/the-texas-tribune/texas-voter-turnout-is-dismal-here-are-8-ways-to-improve-it-13342ff153e5#.qrk6vh4ab" target="_blaknk">Texas Turnout</a> was hosted at Austin's old power plant. The light and geometry around that property are delightful.</p>
<div id="subpage-fragment-album" class="wrapper"> 
    <div class="head">
        <a href="../photography" class="navigo-back-to-parent data-navigo-sub backtoindex" data-navigo>{% include "svg/photography-index.svg" %}</a>
        <h1>Living</h1>   
    </div>
    <ul class="photo-carousel">
        <li><!--
        --><img alt="01.jpg" /><!--
     --></li>
        <li><!--
        --><img alt="02.jpg" /><!--
     --></li>
        <li><!--
        --><img alt="03.jpg" /><!--
     --></li>
        <li><!--
        --><img alt="04.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="05.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="06.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="07.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="08.jpg" /><!--
     --></li>
    </ul>
</div>

<ul id="footer-fragment-album" class="buttons">
    <li><a href="http://www.instagram.com/wilthedznr" target="_blank">{% include "svg/footer_instagram.svg" %}</a></li>
</ul>