<p id="header-fragment-album" lang="en" class="header-text">I spent the Spring of my junior year in Lyon. If you ever have the chance to visit, do so — the city is beautiful. </p>
<div id="subpage-fragment-album" class="wrapper"> 
    <div class="head">
        <a href="../photography" class="navigo-back-to-parent data-navigo-sub backtoindex" data-navigo>{% include "svg/photography-index.svg" %}</a>
        <h1>Living</h1>   
    </div>
    <ul class="photo-carousel">
        <li><!--
        --><img alt="001.jpg" /><!--
     --></li>
        <li><!--
        --><img alt="002.jpg" /><!--
     --></li>
        <li><!--
        --><img alt="003.jpg" /><!--
     --></li>
        <li><!--
        --><img alt="004.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="005.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="006.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="007.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="008.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="009.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="010.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="011.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="012.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="013.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="014.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="015.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="016.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="017.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="018.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="019.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="020.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="021.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="022.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="023.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="024.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="025.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="026.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="027.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="028.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="029.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="030.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="031.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="032.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="033.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="034.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="035.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="036.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="037.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="038.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="039.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="040.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="041.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="042.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="043.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="044.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="045.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="046.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="047.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="048.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="049.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="050.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="051.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="052.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="053.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="054.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="055.jpg" /><!--
     --></li>
             <li><!--
         --><img alt="056.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="057.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="058.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="059.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="060.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="061.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="062.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="063.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="064.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="065.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="066.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="067.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="068.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="069.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="070.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="071.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="072.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="073.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="074.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="075.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="076.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="077.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="078.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="079.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="080.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="081.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="082.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="083.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="084.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="085.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="086.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="087.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="088.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="089.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="090.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="091.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="092.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="093.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="094.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="095.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="096.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="097.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="098.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="099.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="100.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="101.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="102.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="103.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="104.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="105.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="106.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="107.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="108.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="109.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="110.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="111.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="112.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="113.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="114.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="115.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="116.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="117.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="119.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="120.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="121.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="122.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="123.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="124.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="125.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="126.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="127.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="128.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="129.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="130.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="131.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="132.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="133.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="134.jpg" /><!--
     --></li>
    </ul>
</div>

<ul id="footer-fragment-album" class="buttons">
    <li><a href="http://www.instagram.com/wilthedznr" target="_blank">{% include "svg/footer_instagram.svg" %}</a></li>
</ul>