<p id="header-fragment-album" lang="en" class="header-text">I met Hillary in Paris before our trip to <a href="../Mar_16--Aix-En-Provence" class="data-navigo-sub" data-navigo>Aix-En-Provence</a>.</p>
    <div class="head">
        <a href="../photography" class="navigo-back-to-parent data-navigo-sub backtoindex" data-navigo>{% include "svg/photography-index.svg" %}</a>
        <h1>Living</h1>   
    </div>
    <ul class="photo-carousel">
        <li><!--
        --><img alt="01.jpg" /><!--
     --></li>
        <li><!--
        --><img alt="02.jpg" /><!--
     --></li>
        <li><!--
        --><img alt="03.jpg" /><!--
     --></li>
        <li><!--
        --><img alt="04.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="05.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="06.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="07.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="08.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="09.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="10.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="11.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="12.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="13.jpg" /><!--
     --></li>
    </ul>
</div>

<ul id="footer-fragment-album" class="buttons">
    <li><a href="http://www.instagram.com/wilthedznr" target="_blank">{% include "svg/footer_instagram.svg" %}</a></li>
</ul>