<p id="header-fragment-album" lang="en" class="header-text">I've gone to ACL the last four years, and this year, I rented a Fuji X100T to shoot the festival.</p>
<div id="subpage-fragment-album" class="wrapper">   
    <div class="head">
        <a href="../photography" class="navigo-back-to-parent data-navigo-sub backtoindex" data-navigo>{% include "svg/photography-index.svg" %}</a>
        <h1>Living</h1>   
    </div>
    <ul class="photo-carousel">
        <li><!--
        --><img alt="01.jpg" /><!--
     --></li>
        <li><!--
        --><img alt="02.jpg" /><!--
     --></li>
        <li><!--
        --><img alt="03.jpg" /><!--
     --></li>
        <li><!--
        --><img alt="04.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="05.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="06.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="07.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="08.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="09.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="10.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="11.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="12.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="13.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="14.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="15.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="16.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="17.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="18.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="19.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="20.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="21.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="22.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="23.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="24.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="25.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="26.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="27.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="28.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="29.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="30.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="31.jpg" /><!--
     --></li>
        <li><!--
         --><img alt="32.jpg" /><!--
     --></li>
    </ul>
</div>

<ul id="footer-fragment-album" class="buttons">
    <li><a href="http://www.instagram.com/wilthedznr" target="_blank">{% include "svg/footer_instagram.svg" %}</a></li>
</ul>