@import "bourbon/bourbon";
@import "_common";

body.contact {
    &:before {
        opacity: 0;
        @include transform(skewX(10deg) translate(35vw));
        @include transition(transform 2s ease-out, opacity $duration ease-out);
    }
    &:after {
        opacity: 0;
    }
    .wrapper.u__align-items-center {
        @media screen and (max-height: 52rem) {
            @include align-items(flex-start);
            padding: 54px 1rem;
        }
    }
    .load {
        min-height: 25rem;
        @include display(flex);
        @include flex-grow(1);
    }
    .fixed-width-centered-container {
        margin: 0 auto;
        padding: 0 $DE-gutter-width;
        max-width: 480px;
        width: 100%;
        min-width: 320px;
        box-sizing: border-box;
    }
    ul.social {
        @include display(flex);
        @include justify-content(space-between);
        list-style: none;
        li {
            @include flex-basis(50%);
            @include flex-grow(1);
            border: .5px solid rgba(0,0,0,0.125);
//            position: relative;
            margin: 0 1rem;
            display: block;
            a {
                padding: 50% 0;
                @include display(flex);
                @include align-items(center);
                @include justify-content(center);
            }
        }
        svg path {
            fill: #000;
        }
    }
    form#contact {
        position: relative; 
        display: block; 
        text-align: left;
        top: 0;
        width: 100%;
        font-size: 2rem;
        @include animation(fade-in $duration ease-out);
        .fieldset {
            position: relative;
        }
        input:not([type="submit"]), textarea, select {
            background-color: #fff;
            border: none;
            outline: none;
            height: 3rem;
            vertical-align: middle;
            font-family: $fonts;
            width: 100%;
            padding: 0 .75rem;
            margin: 0 0 1rem 0;
            box-sizing: border-box;
            display: block;
            font-size: 1rem;
            box-shadow: inset 0 0 0 1px rgba($c__slate, 0.25);
            &:focus {
                outline: none;
                box-shadow: inset 0 0 0 1px rgba($c__slate, 0.25), inset 0 -1px 0 0 $c__key-blue;
                color: $c__key-blue;
            }
        }
        input:nth-of-type(2n):not([type="submit"]) {
            margin: 0 0 1rem 10px;
        }
        textarea {
            width: 100%;
            height: 9rem;
            background: transparent;
            font-size: 1rem;
            resize: none; 
            padding: .75rem 0 0 .75rem;
        }
        .contact_send {
            display: inline-block;
            position: relative;
            height: 3rem;
            margin: 0 0 1rem 0;
            width: 100%;
        }
        svg {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            path {
                fill: $c__slate;
            }
        }
        input[name=email], input[name=budget], input[name=firstname], input[name=lastname] {
                width: calc(50% - 10px);
                display: inline-block;
            }
/*        select[name=budget] {
            width: calc(50% - 10px);
            margin-left: 10px;
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0;
            background-image: url("/static/img/caret.svg");
            background-repeat: no-repeat;
            background-size: 17px 10px;
            background-position: right center;
             ::-webkit-input-placeholder {
                 color: #ff0000;
             }
            
        } */
        input#submit {
            line-height: 3rem;
            height: 3rem;
            vertical-align: middle;
            font-family: $fonts;
            font-size: 1rem;
            font-weight: 600;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 0;
            background: transparent;
            cursor: pointer;
            position: absolute;
            @include share(top, right, bottom, left, 0);
            text-indent: 0;
            background-color: $c__key-blue;
            text-align: center;
            color: #fff;
        }
        input:invalid, textarea:invalid {
            & ~ .contact_send {
                opacity: .5;
                pointer-events: none;
            }
            & ~ input#submit {
                opacity: .5;
                pointer-events: none;
            }
        }
        input.error {
            box-shadow: 0 1px 0 rgba($c__red, 0.5);
            &:focus + label.error {
                display: none;
                
            }
        }
        label.error {
            font-size: 1rem;
            font-weight: 600;
            color: $c__red;
            position: absolute;
            border-radius: .25rem;
            right: 0;
            bottom: 1.375rem;
            margin-top: .625rem;
            &:nth-of-type(2) {
                margin-bottom: -2rem;
            }
            &:nth-of-type(3) {
                margin-bottom: -4rem;
            }
        }
    }
    #error, #success {
        display: none;
    }
    #footer-fragment-contact {
        li a:hover {
            svg path { fill: $c__pink; }
        }
    }
}
