@import "bourbon/bourbon";
@import "_common";

body.index {
    span.logo {
        background-color: $c__yellow;
    }
    .load {
        min-height: 8rem;
    }
    .portrait:after {
        background-size: auto 100%;
        background-repeat: no-repeat;
        position: fixed;
        height: 100%;
        min-height: 100vmin;
        width: 100%;
        right: -66%;
        top: 0;
        bottom: 0;
        display: block;
        content: '';
        z-index: -1;
        background-image: url('../img/portrait.jpg');
        opacity: 0.125;
        @media print {
            display: none;
        }
    }
    section.about {
        margin: 3.375 0;
        p {
            font-size: 1.4375rem;
            line-height: 2.25rem;
            @media only screen and (max-width: $m__viewport-sm) {
                font-size: 1.25rem;
                line-height: 2rem;
            }
            a {
                white-space: nowrap;
                color: $c__yellow;
            }
        }
    }
}