@import "bourbon/bourbon";
@import "_common";

body.index {
    overflow-x: hidden;
    &:before {
        opacity: 1;
        @include transform(skewX(-5deg));
        
    }
    &:after {
        opacity: 1;
    }
    // page transitions 
    &.unloading-index {
        .load {
            opacity: 0;
        }
    }
    main {
        min-height: 640px;
        height: 100vh;
    }
    section.about {
        position: relative;
        height: 32rem;
    }
    #portrait {
        display: inline-block;
        float: right;
        background-image: url('../img/bg.jpg'), linear-gradient(-85deg, $c__key-blue-light 0%, #fff 100%);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 41.2%;
        box-shadow: 0 2rem 4rem rgba(0,0,0,0.125);
        position: absolute;
        width: 61.8%;
        right: 0;
        top: 50%;
        margin-top: -20.6%;
        z-index: -1;
        opacity: 1;
        @include animation(portrait $duration*3 ease-out);
        @media only screen and (max-width: $m__viewport-med) {
            height: 100vh;
            width: 100vw;
            @include share(top, right, bottom, left, 0);
            background-position: center;
            opacity: .0625;
            margin-top: 0;
            padding-bottom: 0;
            position: fixed;
            @include animation(none);
            &:after {
                content: none;
            }
        }
        @media only screen and (max-width: $m__viewport-sm) {
            background-position: -50vw;
        }
    }
    .load {
        min-height: 8rem;
        @include display(flex);
        @include flex-grow(1);
    }
    .about-text {
        margin: 3.375rem 0;
        @include animation(about-text $duration*3 ease-out);
        p {
            font-size: 1.4375rem;
            line-height: 2.25rem;
            &:after {
                display: block;
                float: right;
                margin-right: -5%;
                @include transform(skew(-5%));
                content: '';
                height: 100%;
            }
            @media only screen and (max-width: $m__viewport-sm) {
                font-size: 1.25rem;
                line-height: 2rem;
            }
            a {
                font-weight: 600;
                white-space: nowrap;
                color: #fecc69;
            }
            strong {
                color: $c__slate;
            }
        }
        ul.elsewhere {
            list-style: none;
            display: inline-block;
            max-width: 8rem;
            li {
                color: $c__slate_dark;
                display: block;
                width: auto;
                height: auto;
                a {
                    font-size: 1rem;
                    @include share(height, line-height, 1.5rem);
                    vertical-align: middle;
                    display: block;
                    @include transition(transform 0.2s ease-out);
                    &:hover {
                        text-decoration: none;
                        @include transform(translateX(1rem));
                        @include transition(transform 0.2s ease-out);
                    }
                    svg, svg g, svg path {
                        fill: currentcolor;
                    }
                    svg {
                        display: inline;
                        float: left;
                        margin: .125rem 0 .375rem 0;
                        height: 1rem;
                        width: 1.5rem;
                    }
                }
                &.twitter {
                    color: $c__twitter;
                }
                &.dribbble {
                    color: $c__dribbble;
                }
                &.instagram {
                    color: $c__instagram;
                }
            }
        }
    }
    section.work {
        h3 {
            color: $c__slate_dark;
        }
        .grid__col--1-of-3 a {
            display: block;
            background-color: #fff;
            //padding-bottom: 41.2%;
            box-shadow: 0 2rem 4rem rgba(0,0,0,0.125);
            box-sizing: content-box;
            height: 6rem;
            width: 100%;
        }
    }
}