@import "bourbon/bourbon";
@import "_common";

@import "_keyframes";

* {
    @include share(padding, margin, 0);
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

p:empty, span:empty, div:empty {
    display: none;
}

:root {
    overflow-x: hidden !important;
}

body { 
    min-height: 100vh;
    min-width: 100vw; 
    margin: 0;
    position: relative;
    font-family: $fonts;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2.25rem;
    color: #000;
    text-align: left;
    background-color: #fff;
    &:before {
        content: '';
        position: fixed;
        height: 200vh;
        width: 38.2vw;
        top: -50vh;
        bottom: -50vh;
        right: -5vw;
        z-index: 0;
        opacity: 0;
        box-shadow: inset 2rem 0 5rem 0 $c__key-yellow-dark;
        background-color: $c__key-yellow;
        @include transform-origin(left center);
        @include transform(skewX(-5deg) translate(5vw));
        @include transition(transform $duration ease-out, opacity $duration*2.5 ease-out);
        @media only screen and (max-width: $m__viewport-med) {
            display: none;
        }
    }
    &:after {
        content: '';
        position: fixed;
        height: 100vh;
        width: 100vw;
        @include share(top, right, bottom, left, 0);
        background-repeat: no-repeat;
        @include background-image(linear-gradient(-85deg, $c__key-blue-light 0%, #fff 100%));
        background-size: cover;
        background-attachment: fixed;
        opacity: 0;
        @include transition(opacity $duration ease-out);
        z-index: -1;
    }
}

// typo

h1 {
    font-size: 3rem;
    font-weight: 800;
    text-align: left;
    margin: .5rem 0 1rem 0;
    vertical-align: middle;
    color: $c__key-blue;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
    display: block;
    text-align: center;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  display: block;
  text-align: left;
}

h4 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 800;
  margin: 1rem 0;
  display: block;
  text-align: left;
}

h5 {
  font-size: 1.5rem;
  font-weight: 200;
  display: block;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid $c__slate;
  padding: 0 0 1rem 0;
  margin: 1.25rem 0;
}

h6 {
    display: inline-block;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 300;
    font-style: oblique;
    color: $c__slate_dark;
    text-align: left;
}

p {
    line-height: 2.5rem;
    margin-bottom: 1.125rem;
    font-size: 1.25rem;
    color: $c__slate_dark;
}

a {
    text-decoration: none;
    color: inherit;
    &.current, &:hover {
        text-decoration: underline;
    }
}

strong {
    font-weight: 600;
}

img {
    border: 0;
    outline: 0;
}

// Utils

 /* RM .u__visible {
    display: inherit;
    opacity: 1 ;
    background-color: transparent !important;
} */

/* RM .u__anim-in {
    @include animation(fade-in $duration ease-out);
}

.u__anim-out {
    @include animation(fade-out $duration ease-out);
} */

/* RM .u__full-height {
    height: 100vh;
    display: inline-block;
} */

%u__vp-max {
    display: none;
    @media only screen and (min-width: $m__viewport-med) {
        display: inherit;
    }
}

%u__vp-med {
    display: none;
    @media only screen and (min-width: $m__viewport-sm) and (max-width: $m__viewport-med) {
        display: inherit;
    }
}

%u__vp-sm {
    display: none;
    @media only screen and (max-width: $m__viewport-sm) {
        display: inherit;
    }
}

%u__vp-not-max {
    @media only screen and (min-width: $m__viewport-med) {
        display: none !important;
    }
}

%u__vp-not-med {
    @media only screen and (min-width: $m__viewport-sm) and (max-width: $m__viewport-med) {
        display: none !important;
    }
}

%u__vp-not-sm {
    @media only screen and (max-width: $m__viewport-sm) {
        display: none !important;
    }
}

.u__textalign-center {
    text-align: center;
}

.u__align-items-center {
    @include display(flex);
    @include align-items(center);
    @include align-content(justify);
    min-height: 100%;
    
}


/* RM .u__opacity-zero {
    opacity: 0;
} */

/* RM .u__text-align-right {
    text-align: right;
} */

//Structure

.grid {
    font-size: 0 !important;

}

.paper:not(.grid) {
    @media screen {
        display: none;
    }
}

.wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 77rem; 
    width: 100%;
    padding: 0 1rem;
}

// Common

html.no-js .mobile-menu-container, html.no-js ul.tabs {
    display: none !important;
}

html.js {
    .no-js {
        display: none;
    }
}

header {
    @include transition(background-color $duration ease-out, opacity $duration ease-out);

}

nav {
    position: static;
    text-align: right;
    box-sizing: content-box;
    padding: 1rem 0;
    width: 100%;
    line-height: 1.25rem;
    height: 63px;
    @media print {
        display: none;
    }
    .grid {
        height: 63px;
    }
    span.logo {
        @include share(width, height, 63px);
        left: 1rem;
//        background-color: $c__slate_dark;
        background-color: $c__key-blue;
        float: left;
        margin: 0 0 0 1.25rem;
        svg {
            .outer {
                fill: transparent;
            }
            .glyph {
                fill: #fff;
            }
        }
    }
    ul.nav-desktop {
        list-style: none;
        position: relative;
        display: inline-block;
        font-size: 0;
        @extend %u__vp-not-sm;
        li {
            position: relative;
            display: inline-block;
            font-size: 0;
            height: 63px;
            vertical-align: middle;
            box-sizing: border-box;
            z-index: 0;
            margin: 0 .75rem;
            a {
                margin: 26px 0 25px 0;
                font-size: .875rem;
                font-weight: 400;
                height: 12px;
                line-height: 12px;
                vertical-align: middle;
                display: inline-block;
                z-index: 0;
                box-sizing: border-box;
                color: $c__slate_dark;
                font-weight: 600;
                color: $c__key-blue;
                &:before {
                    content: '';
                    display: block;
                    position: absolute; 
                    top: -1rem; 
                    left: 0;
                    right: 0;
                    height: 3px;
                    background-color: #fff;
                    @include transform(translateY(-3px));
                    @include transition(background-color $duration ease-out, transform $duration ease-out);
                }
                &:hover  {
                    text-decoration: none;
                    &:before {
                        background-color: $c__key-blue;
                        @include transform(translateY(0));
                    }
                }
            }
            &.active a:before {
                @include transform(translateY(0));
                background-color: $c__key-blue;
            }
            &:first-of-type {
                margin: 0 .75rem 0 0;
            }
            &:last-of-type {
                margin: 0 0 0 .75rem;
            }
        }
    }
    .mobile-menu-container {
        width: auto;
        display: inline-block;
        margin-top: 1.3125rem;
        z-index: 1000;
        position: absolute;
        top: 0;
        right: 1rem;
        &.large {
            width: 14rem;
            height: 17rem;
        }
        @media only screen and (min-width: $m__viewport-sm) {
            display: none;
        }
    }
    .mobile-menu-link {
        height: 1rem;
        width: 1.375rem;
        display: block;
        list-style: none;
        position: relative;
        right: .375rem;
        float: right;
        cursor: pointer;
        li {
            position: absolute;
            background-color: $c__slate_dark;
            height: 2px;
            width: 100%;
            @include share(left, right, 0);
            &:first-of-type {
                top: 0;
            }
            &:nth-of-type(2) {
                top: 7px;
            }
            &:last-of-type {
                top: 14px;
            }
        }
    }
    .mobile-menu {
        height: auto !important;
        list-style: none;
        text-align: left;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
        @include filter(drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25)));
        font-size: 16px;
        line-height: 32px !important;
        width: 14rem;
        margin: 0 auto;
        opacity: 0;
        @include transform(scale(0));
        @include transform-origin(13rem -.25rem);
        display: none;
        position: absolute;
        right: -.0625rem;
        top: 2.625rem;
        &::before {
            content: "";
            border-left: 6.5px solid transparent;
            border-right: 6.5px solid transparent;
            border-top: 6.5px solid transparent;
            border-bottom: 6.5px solid #fff;
            display: block;
            width: 0;
            margin: -20px 0 8px;
            position: fixed;
            right: .75rem;
            top: .5rem;
            @include filter(drop-shadow(0 -1px 0px rgba(0, 0, 0, 0.125)));
        }
        li {
            overflow: hidden;
            &:not(:last-of-type) a {
                border-bottom: 1px solid rgba(0,0,0,0.05);
                @media (-webkit-min-device-pixel-ratio: 2) {
                    border-bottom: .5px solid rgba(0, 0, 0, 0.05);
                }
            }
            &:first-of-type {
                border-top-right-radius: .5rem;
                border-top-left-radius: .5rem;
            }
            &:last-of-type {
                border-bottom-right-radius: .5rem;
                border-bottom-left-radius: .5rem;
            }
            a {
                font-size: 0.875rem;
                font-weight: 600;
                line-height: 3rem !important;
                display: inline-block;
                width: 100%;
                padding: 0 3rem;
                height: 3rem !important;
                cursor: pointer;
                text-align: left !important;
                margin: 0 !important;
                @include filter(none);
                text-shadow: none;
                color: $c__slate_dark;
                &:hover {
                    text-decoration: none;
                    color: #fff !important;
                    background-color: $c__slate_dark;
                }
                svg {
                    padding: .75rem;
                    box-sizing: content-box;
                    position: absolute;
                    left: 0;
                    g path {
                        fill: currentcolor;
                    }
                }                
            }
            &.active a {
                color: #fff !important;
                background-color: $c__slate_dark;
                svg g path {
                    fill: #fff !important;
                }
            }
        }
        &.visible {
            display: block;
            opacity: 1;
            @include transform(scale(1));
            @include animation(popover-in $duration ease-in-out);
        }
        &.u__anim-out {
            opacity: 0;
            @include transform(scale(0));
            @include animation(popover-out $duration ease-in-out);
        }
    }

} 

main {
    @include display(flex);
    @include flex-direction(column);
    min-height: 100vh;
}

.load {
    position: static;
    z-index: 100;
    background: transparent;
    height: auto;
}

footer {
    @include animation(fade-in 1s ease-out);
    position: static;
    display: block;
    z-index: 10000;
    padding: 1rem 0;
    width: 100%;
    font-weight: 400;
    height: 1.375rem;
    font-size: 0;
    box-sizing: content-box;
    .wrapper {
        height: 1.375rem;
        line-height: 1.375rem;
    }
    span {
        height: 1.375rem;
        font-size: 1rem;
        line-height: 1.375rem;
        vertical-align: text-bottom;
        color: $c__slate_dark;
    }
    strong { 
        font-weight: 800;
    }
    .footer-load {
        float: right;
    }
    svg path {
        fill: $c__slate;
    }
    ul.buttons {
        list-style: none;
        float: right;
        position: relative;
        margin-bottom: 1rem;
        font-size: 0;
        height: 1.375rem;
        li {
            display: inline-block;
            margin: 0 .5rem;
            height: 1.375rem;
            a {
                display: block;
                height: 100%;
                width: 100%;
                svg, svg *, svg path, {
                    @include transition(fill $duration ease-out);
                }
            }
            &:first-of-type {
                margin: 0 .5rem 0 0;
            }
            &:last-of-type {
                margin: 0 0 0 .5rem;
            }
        }
    }
    @media print {
        display: none;
    }
}

.button {
    line-height: 1.25rem;
    font-size: .875rem;
    font-weight: 600;
    vertical-align: bottom;
    display: inline-block;
    &:hover {
        text-decoration: none;
    }
    path {
        fill: currentcolor !important;
    }

}

// non-content

body {
    nav {
        @include animation(fade-in 1s ease-out);
    }
    .header-text {
        @include animation(fade-in 1s ease-out);
    }
    &:not(.index) {
        .load {
            @include animation(fade-in 1s ease-out);
        }
    }
}
//photography transitions

.photography.unloading {
    #page-fragment-photography {
        @include animation(scale-out-alt $duration ease-out);
        @include transform(scale(1.025));
        opacity: 0; 
    }
}

.photography.loading-sub {
    #subpage-fragment-album {
        @include animation(sub-loading $duration linear);
        opacity: 1;
    }
}

.photography.photography-sub.loaded-sub.unloading-sub {
    #subpage-fragment-album {
        @include animation(scale-out $duration ease-out);
        @include transform(scale(.975));
        opacity: 0;
    }
}

.photography.unloading.loading-sub, .photography.photography-sub.loaded-sub  {
    #subpage-fragment-album {
        @include animation(scale-in $duration cubic-bezier(0.175, 0.885, 0.32, 1.275));
        @include transform(scale(1));
    }
}

.photography.loaded main.from-sub {
    #page-fragment-photography {
        @include animation(scale-in-alt $duration ease-out);
        @include transform(scale(1));
    }
}

//illustrations, illustraiton  transitions

.illustrations {
    #page-fragment-illustrations {
        @include transition(opacity $duration ease-out);
        opacity: 0;
    }
    &.loaded {
        #page-fragment-illustrations {
            opacity: 1;
        }
    }
    &.unloading {}
    // sub page
    &.illustration {
        &.loaded-sub {
            main > header, #page-fragment-illustrations {
                opacity: 0.5;
                pointer-events: none;
            }
        }
        &.unloading-sub {}
    }
}

.resume {
    #page-fragment-resume, #pageheader-load {
        @include transition(opacity $duration ease-out);
    }
    &.loaded {
        #page-fragment-resume, #pageheader-load {
        }
    }
    &.loading {
        #page-fragment-resume, #pageheader-load {
        }
    }
}

.contact {
    #page-fragment-contact, #pageheader-load {
//        @include transition(opacity $duration ease-out);
//        opacity: 0;
    }
    &.loaded {
        #page-fragment-contact, #pageheader-load {
//            opacity: 1;
        }
    }
    &.loading {
        #page-fragment-contact, #pageheader-load {
//            opacity: 0;
        }
    }
}

html.no-js {
    .pageloadanim {
        display: none !important;
    }
}

.i__separator {
    margin: 0px $DE-gutter-width/4;
    display: inline-block;
    height: 1em;
    width: 1px;
    margin-bottom: -.125em;
}

@import "_page-about";

@import "_page-products";

@import "_page-resume";

@import "_page-contact";

// illustration 

body.illustrations.illustration {
    .modal-wrapper {
        display: block;
        min-height: calc(100% - 108px);
        margin: 54px 0;
        width: 100vw;
        position: fixed;
        z-index: 100000;
        top: 54px;
        @include share(top, left, 0);
        @include display(flex);
        @include align-items(center);
        @include align-content(justify);
        @media screen and (max-width: 52rem), screen and (-webkit-max-device-pixel-ratio: 1), screen and (max-resolution: 96dpi) {
            @include align-content(flex-start);
        }
    }
    article {      
        &.anim-in {
            @include animation(scale-in $duration cubic-bezier(0.175, 0.885, 0.32, 1.275));
            @include transform(scale(1));
            opacity: 1;
        }
        &.anim-out {
            @include animation(scale-out $duration cubic-bezier(0.175, 0.885, 0.32, 1.275));
            @include transform(scale(.975));
            opacity: 0;
        }
        z-index: 1;
        margin: 0 auto;
        display: block;
        max-width: calc(100vw - 4rem);
        box-shadow: none;
        @include transform(scale(1));
        background-color: #fff !important;
        box-shadow: 0 2rem 4rem rgba(0,0,0,0.125), 0 .0625rem .125rem 0 rgba(0,0,0,0.125);
        header {
            width: calc(100% - 2rem);
            @include share(height, line-height, 1rem);
            vertical-align: middle;
            color: #fff;
            position: relative;
            @include share(top, left, right, 0);
            padding: 1rem;
            box-sizing: content-box;
            box-shadow: 0 1px 0 0 rgba(0,0,0,0.0625);
            z-index: 1;
            .modal-close {
                position: absolute;
                left: -1rem;
                top: -1rem;
                @include share(height, width, 2rem);
                border-radius: 50%;
                background-color: rgba($c__key-blue, 0.75);
                mix-blend-mode: multiply;
                backdrop-filter: blur(.25rem);
                @include transition(background-color $duration ease-out);
                svg {
                    @include share(height, width, .75rem);
                    margin: .625rem;
                    path {
                        fill: #fff !important;
                    }
                }
                &:hover {
                    background-color: $c__key-blue;
                    @include transition(background-color $duration ease-out);
                }
            }
            h1 {
                font-weight: 600;
                @include share(height, font-size, line-height, 1rem);
                width: auto;
                display: block;
                top: 1rem;
                left: 1rem;
                position: absolute;
                z-index: 100;
                margin: 0;
            }
            ul.tabs {
                position: absolute;
                @include share(top, right, 0);
                margin: 0 .75rem;
                li {
                    display: inline-block; 
                    margin: 0 .75rem;
                    a {
                        display: block;
                        @include share(height, line-height, 3rem);
                        font-weight: 600;
                        color: $c__key-blue;
                        vertical-align: middle;
                        font-size: .875rem;
                        min-width: 1rem;
                        text-align: center;
                    }
                    &.active a, &:hover a {
                        box-shadow: inset 0 3px 0 0 $c__key-blue;
                        text-decoration: none;

                    }
                }
                &.no-highlight {
                    li {
                        margin: 0 .375rem;
                        &:hover a, &.active a {
                            box-shadow: none;        
                        }
                    }
                }
            }
        }
        nav {
            position: static;
        }
        h6 {
            font-style: normal;
            font-weight: 600;
            width: auto;
        }
        nav {
            text-align: center;
        }
        footer {
            box-shadow: 0 -1px 0 0 rgba(0,0,0,0.03125);
            @include share(height, line-height, 1rem);
            width: calc(100% - 2rem);
            left: 0;
            bottom: 0;
            padding: 1rem;
            box-sizing: content-box;
            font-size: 0;
            position: relative;
            margin-top: 0 !important;
            ul.tabs, ul.buttons {
                margin: -3px 0 0 0;
            }
            ul.tabs {
                margin: -3px 0 0 -3px;
            }
            ul.buttons {
                margin: -3px -3px 0 0;
            }
            ul.buttons {
                display: inline-block;
                position: absolute;
                right: 1rem;
                li a {
                    color: $c__slate_dark;
                    padding: 0;
                    padding-right: 1rem;
                    &:after {
                        content: '';
                        background-image: url('../img/button-link.svg');
                        @include share(width, height, .625rem);
                        display: inline-block;
                        margin: 0 -1rem 0rem .25rem;
                        background-size: 10px 10px;
                        @media (-webkit-min-device-pixel-ratio: 2) {
                            background-image: url('../img/button-link@2x.svg');
                        }
                    }
                    &.download:after {
                        @include transform(rotate(90deg));
                    }
                }
            }
            h2 {
                font-weight: 600;
                color: $c__slate_dark;
                @include share(height, line-height, 1rem);
                font-size: .875rem;
                width: auto;
                display: block;
                top: 1rem;
                left: 1rem;
                margin: 0 auto;
                position: absolute;
            }
        }
        .tabs-content {
            padding: 0 1rem;
            max-height: calc(100vh - 108px - 6rem);
            overflow: auto;
            & > div:not(.active), & > ul:not(.active) {
                display: none;
            }
            i {
               margin: 0 !important; 
               display: block;
               box-shadow: 0 0 0 1px rgba(0,0,0,0.0625);
               width: 100%;
               
            }
            .i__512-2x {
                display: block;
                //margin: 0 auto;
            }
        }
        ul.Mac-grid, ul.iOS-grid {
            &:not(.active) {
                display: none;
            }
            &.active {
                display: block;
            }
            padding: 1rem;
            position: relative;
            //@include transform(translate(-50%, -50%));
        }
    }
     g {
        position: fixed;
        bottom: 0;
    }
}

@import "_page-illustration-grids";

// illustrations 

body.illustrations {
    .load {
        position: static;
        padding-bottom: 54px !important;
    }
    .head {
        width: 100%;
        margin-bottom: 5rem;
    }
    footer {
        margin-top: -54px !important;
        position: static;
        height: auto;
        line-height: auto;
        box-sizing: content-box;
        padding: 1rem 0;
        
    }
}

@import "_mosaic";

@import "_page-illustrations";

@import "_page-photography";

// photoraphy

body.photography.photography-sub {
    @media only screen and (max-width: $m__viewport-sm) {
        .head {
            display: none !important; // until I can find out how to make a child have a greater z-index & fixed pos than its parent
            width: 50vw;
            margin: 0 auto;
            position: absolute;
            top: 0;
            left: 25vw;
            height: 3rem;
            z-index: 999999999;
            h1 {
                @include share(margin, padding, 0);
                font-size: 1rem;
                font-weight: 600 !important;
                color: #fff;
                @include share(height, line-height, 54px);
                position: fixed !important;
                top: 0;
                @include share(left, right, 25%);
                width: 50%;
                z-index: 99999999999999999999999999999 !important;
            }
            .backtoindex {
                display: none;
            }
        }
    }
    .load {
        padding-bottom: 0;
        @media only screen and (max-width: $m__viewport-sm) {
            position: relative
        }
    }
    footer {
        position: static ;
        z-index: 0;
        margin-top: -38px;
        // LOL SO HACK
        pointer-events: none;
        .footer-load {
            pointer-events: all;
        }
        @media only screen and (max-width: $m__viewport-sm) {
            position: fixed;
            bottom: 5px;
        }
    }
    div.photo-carousel {
        margin-left: -.75rem;
        width: calc(100% + .75rem);
        @media only screen and (max-width: $m__viewport-sm) {
            height: calc(100vh - 108px);
            position: relative;
            display: flex;
            flex-direction: column;
        }
        .masthead {
            position: relative;
            background-image: url("../img/loader.svg");
            background-size: 2rem;
            background-position: center center;
            background-repeat: no-repeat;
            @media only screen and (max-width: $m__viewport-sm) {
                flex-grow: 1;
                display: flex;
                align-items: center;
                align-content: center;
            }  
            li {
                height: 100%;
                width: 100%;
                text-align: center;
                padding-bottom: 66.6666666666%;
                display: block;
                position: relative;
                @media only screen and (max-width: $m__viewport-sm) {
                    position: static;
                }
                img {
                    max-height: 100%;
                    height: auto;
                    width: auto !important;
                    position: absolute;
                    left: 50%;
                    @include transform(translateX(-50%)); 
                    @media only screen and (max-width: $m__viewport-sm) {
                        top: 50%;
                        max-width: 100%;
                        @include transform(translate(-50%, -50%)); 
                    }
                }
            }
            li:not(.active) {
                display: none;
            }
        }
        .thumbnails {
            text-align: center;
            font-size: 0;
            padding: 1rem 0;
            vertical-align: top;
            @media only screen and (max-width: $m__viewport-sm) {
                bottom: 0;
            }    
            li {
                list-style: none;
                display: inline-block;
                width: 2rem;
                height: auto;
                opacity: 0.5;
                cursor: pointer;
                font-size: 0;
                text-align: center;
                overflow: hidden;
                margin: 0.5rem;
                border-radius: .25rem;
                font-size: 0;
                vertical-align: top;
                background-color: rgba(255,255,255,0.25);
                z-index: 1;
                position: relative;
                img {
                    width: 3rem;
                    height: 2rem;
                    margin-left: -.5rem;
                }
                &:hover, &.active {
                    opacity: 1;
                }
            }
        }
    }

}

@import "_touchevents";

nav, nav *, footer, footer *, .head {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    p {
        -webkit-user-select: auto !important;
        -moz-user-select: auto !important;
        user-select: auto !important;
    }
}