<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__Arex_2 anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Arex 2</h1>
            <ul class="tabs">
                <li class="active"><a href="/illustrations/Arex_2#Final" id="Final" class="hash-sub">Final</a></li><!--
             --><li><a href="/illustrations/Arex_2#iterations" id="iterations" class="hash-sub">Iterations</a></li>
            </ul>
        </header>
        <div class="tabs-content">
            <div class="Final iOS icongrid level-1 active">
                <span class="i__appstore-2x"><h6>Appstore@2x</h6><i /></span>
                <div class="level-2">
                    <span class="i__appstore"><h6>Appstore</h6><i /></span>
                    <div class="level-3">
                        <h6>iPad</h6>
                        <span class="i__springboard-ipad-o-2x"><i /></span>
                        <span class="i__spotlight-ipad-o-2x"><i /></span>
                        <span class="i__springboard-ipad-o-1x"><i /></span>
                        <span class="i__spotlight-ipad-o-1x"><i /></span>
                    </div>
                    <div class="level-4">
                        <h6>iPhone</h6>
                        <span class="i__springboard-o-2x"><i /></span>
                        <span class="i__settings-2x"><i /></span>
                        <span class="i__springboard-o-1x"><i /></span>
                        <span class="i__settings-1x"><i /></span>
                    </div>
                </div>
            </div>
            <div class="iterations icongrid">
                <div class="round-1">
                    <span class="i__springboard-ipad-o-2x a1"><i /></span>
                    <span class="i__springboard-ipad-o-2x a2"><i /></span>
                    <span class="i__springboard-ipad-o-2x a3"><i /></span>
                    <span class="i__springboard-ipad-o-2x a4"><i /></span>
                    <span class="i__springboard-ipad-o-2x a5"><i /></span>
                    <span class="i__springboard-ipad-o-2x a6"><i /></span>
                    <span class="i__springboard-ipad-o-2x a7"><i /></span>
                    <span class="i__springboard-ipad-o-2x a8"><i /></span>
                </div>
            </div>
        </div>
        <footer>
            <h2>Pandamonia, 2012</h2>
            <ul class="buttons" id="pagejs-footer-in">
                <li><a class="button" href="http://pandamonia.us" target="_blank">{% include "svg/button-caret.svg" %}Client website</a></li>
            </ul> 
        </footer>
    </article>
</div>