<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__Attune anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Attune</h1>
            <ul class="tabs">
                <li class="active"><a href="/illustrations/Attune#Final" id="Final" class="hash-sub">Final</a></li><!--
             --><li><a href="/illustrations/Attune#iterations" id="iterations" class="hash-sub">Iterations</a></li>
            </ul>
        </header>
        <div class="tabs-content">
            <div class="Final iOS icongrid level-1 active">
                <span class="i__appstore-2x"><h6>Appstore@2x</h6><i /></span>
                <div class="level-2">
                    <span class="i__appstore"><h6>Appstore</h6><i /></span>
                    <div class="level-3">
                        <h6>iPhone</h6>
                        <span class="i__springboard-o-2x"><i /></span>
                        <span class="i__settings-2x"><i /></span>
                        <span class="i__springboard-o-1x"><i /></span>
                        <span class="i__settings-1x"><i /></span>
                    </div>
                </div>
            </div>
            <div class="iterations icongrid">
                <div class="round">
                    <h6>Round 1</h6>
                    <span class="i__springboard-o-2x a1"><i /></span>
                    <span class="i__springboard-o-2x a2"><i /></span>
                    <span class="i__springboard-o-2x a3"><i /></span>
                    <span class="i__springboard-o-2x a4"><i /></span>
                    <span class="i__springboard-o-2x a5"><i /></span>
                </div>
                <div class="round">
                    <h6>Round 2</h6>
                    <span class="i__springboard-o-2x b1"><i /></span>
                    <span class="i__springboard-o-2x b2"><i /></span>
                    <span class="i__springboard-o-2x b3"><i /></span>
                    <span class="i__springboard-o-2x b4"><i /></span>
                    <span class="i__springboard-o-2x b5"><i /></span>
                    <span class="i__springboard-o-2x b6"><i /></span>
                    <span class="i__springboard-o-2x b7"><i /></span>
                    <span class="i__springboard-o-2x b8"><i /></span>
                    <span class="i__springboard-o-2x b9"><i /></span>
                </div>
                 <div class="round">
                    <h6>Round 3</h6>
                    <span class="i__springboard-o-2x c1"><i /></span>
                    <span class="i__springboard-o-2x c2"><i /></span>
                 </div>
                 <div class="round">
                    <h6>Round 4</h6>
                    <span class="i__springboard-o-2x d1"><i /></span>
                    <span class="i__springboard-o-2x d2"><i /></span>
                    <span class="i__springboard-o-2x d3"><i /></span>
                    <span class="i__springboard-o-2x d4"><i /></span>
                    <span class="i__springboard-o-2x d5"><i /></span>
                 </div>
                 <div class="round">
                    <h6>Round 5</h6>
                    <span class="i__springboard-o-2x e1"><i /></span>
                    <span class="i__springboard-o-2x e2"><i /></span>
                    <span class="i__springboard-o-2x e3"><i /></span>
                    <span class="i__springboard-o-2x e4"><i /></span>
                    <span class="i__springboard-o-2x e5"><i /></span>
                    <span class="i__springboard-o-2x e6"><i /></span>
                    <span class="i__springboard-o-2x e7"><i /></span>
                    <span class="i__springboard-o-2x e8"><i /></span>
                    <span class="i__springboard-o-2x e9"><i /></span>
                    <span class="i__springboard-o-2x e10"><i /></span>
                    <span class="i__springboard-o-2x e11"><i /></span>
                    <span class="i__springboard-o-2x e12"><i /></span>
                    <span class="i__springboard-o-2x e13"><i /></span>
                    <span class="i__springboard-o-2x e14"><i /></span>
                    <span class="i__springboard-o-2x e15"><i /></span>
                    <span class="i__springboard-o-2x e16"><i /></span>
                    <span class="i__springboard-o-2x e17"><i /></span>
                    <span class="i__springboard-o-2x e18"><i /></span>
                    <span class="i__springboard-o-2x e19"><i /></span>
                    <span class="i__springboard-o-2x e20"><i /></span>
                    <span class="i__springboard-o-2x e21"><i /></span>
                    <span class="i__springboard-o-2x e22"><i /></span>
                    <span class="i__springboard-o-2x e23"><i /></span>
                    <span class="i__springboard-o-2x e24"><i /></span>
                    <span class="i__springboard-o-2x e25"><i /></span>
                    <span class="i__springboard-o-2x e26"><i /></span>
                    <span class="i__springboard-o-2x e27"><i /></span>
                    <span class="i__springboard-o-2x e28"><i /></span>
                    <span class="i__springboard-o-2x e29"><i /></span>
                    <span class="i__springboard-o-2x e30"><i /></span>
                 </div>
                 <div class="round">
                    <h6>Round 6</h6>
                    <span class="i__springboard-o-2x f1"><i /></span>
                    <span class="i__springboard-o-2x f2"><i /></span>
                    <span class="i__springboard-o-2x f3"><i /></span>
                    <span class="i__springboard-o-2x f4"><i /></span>
                    <span class="i__springboard-o-2x f5"><i /></span>
                 </div>
                 <div class="round">
                    <h6>Round 7</h6>
                    <span class="i__springboard-o-2x g1"><i /></span>
                    <span class="i__springboard-o-2x g2"><i /></span>
                 </div>
            </div>
        </div>
        <footer>
            <h2>Appuous, 2013</h2>
        </footer>
    </article>
</div>