<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__Borderlands anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Borderlands</h1>
            <ul class="tabs">
                <li class="active"><a href="/illustrations/Borderlands#Vars" id="Vars" class="hash-sub">Variants</a></li><!--
             --><li><a href="/illustrations/Borderlands#Details" id="Details" class="hash-sub">Details</a></li>
            </ul>
        </header>
        <div class="tabs-content">
            <div class="Vars iterations icongrid level-1 active">
                <div class="round">
                    <span class="i__128-2x a1"><i /></span>
                    <span class="i__128-2x a2"><i /></span>
                    <span class="i__128-2x a3"><i /></span>
                </div>
            </div>
            <div class="Details Mac iterations icongrid level-1">
                <span class="i__512-2x"><h6>512@2x</h6><i /></span>
                <div class="level-2">
                    <span class="i__256-2x"><h6>256@2x</h6><i /></span>
                    <div class="level-3">
                        <span class="i__128-2x"><h6>128@2x</h6><i /></span>
                        <div class="level-4">
                            <span class="i__128"><h6>128</h6><i /></span>
                            <div class="level-5">
                                <span class="i__32-2x"><i /></span>
                                <span class="i__48"><i /></span>
                                <span class="i__16-2x"><i /></span>
                                <span class="i__16"><i /></span>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <h2>Set of 3 icons, 2013, 2015</h2>
            <ul class="buttons" id="pagejs-footer-in">
                <li><a class="button download" href="http://w.nkls.me/g6h9" target="_blank">Download</a></li>
            </ul> 
        </footer>
    </article>
</div>