<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__Disks anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Disks</h1>
        </header>
        <div class="tabs-content">
            <div class="Vars iterations icongrid level-1 active">
                <div class="round">
                    <span class="i__128-2x a1"><i /></span>
                    <span class="i__128-2x a2"><i /></span>
                    <span class="i__128-2x a3"><i /></span>
                    <span class="i__128-2x a4"><i /></span>
                    <span class="i__128-2x a5"><i /></span>
                </div>
            </div>
        </div>
        <footer>
            <h2>Set of 22 icons, 2011</h2>
            <ul class="buttons" id="pagejs-footer-in">
                <li><a class="button download" href="http://w.nkls.me/g73s" target="_blank">{% include "svg/button-download.svg" %}Download</a></li>
            </ul> 
        </footer>
    </article>
</div>