<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__FileTouchManager anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>File Touch Manager</h1>
        </header>
        <div class="tabs-content">
            <div class="Android icongrid level-1 active">
                <span class="i__googleplay-2x"><h6>Google Play</h6><i /></span>
                <div class="level-2">
                    <span class="i__googleplay-1x"><h6>Launcher Icons</h6><i /></span>
                    <div class="level-3">
                        <span class="i__128-2x"><i /></span>
                        <span class="i__128"><i /></span>
                    </div>
                    <div class="level-4">
                        <span class="i__launchericon-xhdpi"><i /></span>
                        <span class="i__launchericon-hdpi"><i /></span>
                        <span class="i__launchericon-mdpi"><i /></span>
                        <span class="i__launchericon-ldpi"><i /></span>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <h2>HQ Soft, 2012</h2>
            <ul class="buttons" id="pagejs-footer-in">
                <li><a class="button" href="http://www.trytastebud.com" target="_blank">{% include "svg/button-caret.svg" %}Get the App</a></li>
            </ul> 
        </footer>
    </article>
</div>