<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__FiveSquare anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Five Square</h1>
        </header>
        <div class="tabs-content">
            <div class="iOS icongrid level-1 active">
                <div class="level-2">
                    <span class="i__appstore"><h6>Appstore</h6><i /></span>
                    <div class="level-3">
                        <h6>iPad</h6>
                        <span class="i__springboard-ipad-o-2x"><i /></span>
                        <span class="i__springboard-ipad-o-1x"><i /></span>
                    </div>
                    <div class="level-4">
                        <h6>iPhone</h6>
                        <span class="i__springboard-o-2x"><i /></span>
                        <span class="i__springboard-o-1x"><i /></span>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <h2>§ Products, 2011</h2>
            <ul class="buttons" id="pagejs-footer-in">
                <li><a class="button" href="http://fivesquareapp.com" target="_blank">{% include "svg/button-caret.svg" %}Get the App</a></li>
            </ul> 
        </footer>
    </article>
</div>