<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__Flaunt anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Flaunt</h1>
            <ul class="tabs small">
                <li class="active"><a href="/illustrations/Flaunt#a1" id="a1" class="hash-sub"><i class="color-well a1" /></a></li><!--
             --><li><a href="/illustrations/Flaunt#a2" id="a2" class="hash-sub"><i class="color-well a2" /></a></li><!--
             --><li><a href="/illustrations/Flaunt#a3" id="a3" class="hash-sub"><i class="color-well a3" /></a></li><!--
             --><li><a href="/illustrations/Flaunt#a4" id="a4" class="hash-sub"><i class="color-well a4" /></a></li><!--
             --><li><a href="/illustrations/Flaunt#a5" id="a5" class="hash-sub"><i class="color-well a5" /></a></li><!--
             --><li><a href="/illustrations/Flaunt#a6" id="a6" class="hash-sub"><i class="color-well a6" /></a></li><!--
             --><li><a href="/illustrations/Flaunt#a7" id="a7" class="hash-sub"><i class="color-well a7" /></a></li>
            </ul>
        </header>
        <div class="tabs-content">
            <div class="a1 active">
                <span class="i__512-2x"><i /></span>
            </div>
            <div class="a2">
                <span class="i__512-2x"><i /></span>
            </div>
            <div class="a3">
                <span class="i__512-2x"><i /></span>
            </div>
            <div class="a4">
                <span class="i__512-2x"><i /></span>
            </div>
            <div class="a5">
                <span class="i__512-2x"><i /></span>
            </div>
            <div class="a6">
                <span class="i__512-2x"><i /></span>
            </div>
            <div class="a7">
                <span class="i__512-2x"><i /></span>
            </div>
        </div>
        <footer>
            <h2>Flaunt, 2015</h2>
        </footer>
    </article>
</div>