<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__FreeBee anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>FreeBee</h1>
            <ul class="tabs">
                <li class="active"><a href="/illustrations/FreeBee#final" id="final" class="hash-sub">Final</a></li><!--
             --><li><a href="/illustrations/FreeBee#iterations" id="iterations" class="hash-sub">Iterations</a></li>
            </ul>
        </header>
        <div class="tabs-content">
            <div class="final active">
                <span class="i__512-2x final"><i /></span>
            </div>
            <div class="iterations icongrid">
                <div class="round-1">
                    <h6>Round 1</h6>
                    <span class="i__110-2x a1"><i /></span>
                    <span class="i__110-2x a2"><i /></span>
                    <span class="i__110-2x a3"><i /></span>
                    <span class="i__110-2x a4"><i /></span>
                    <span class="i__110-2x a5"><i /></span>
                    <span class="i__110-2x a6"><i /></span>
                    <span class="i__110-2x a7"><i /></span>
                    <span class="i__110-2x a8"><i /></span>
                    <span class="i__110-2x a9"><i /></span>
                </div>
                <div class="round-2">
                    <h6>Round 2</h6>
                    <span class="i__110-2x b1"><i /></span>
                    <span class="i__110-2x b2"><i /></span>
                    <span class="i__110-2x b3"><i /></span>
                    <span class="i__110-2x b4"><i /></span>
                    <span class="i__110-2x b5"><i /></span>
                </div>
                <div class="round-3">
                    <h6>Round 3</h6>
                    <span class="i__110-2x c1"><i /></span>
                    <span class="i__110-2x c2"><i /></span>
                    <span class="i__110-2x c3"><i /></span>
                </div>            
            </div>
        </div>
        <footer>
            <h2>FreeBee, Longhorn Startup Lab, 2015</h2>
            <ul class="buttons" id="pagejs-footer-in">
                <li><a class="button" href="http://shuzzle.appstor.io" target="_blank">{% include "svg/button-caret.svg" %}Learn More</a></li>
            </ul> 
        </footer>
    </article>
</div>