<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__Globe anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Globe</h1>
            <ul class="tabs small">
                <li class="active"><a href="/illustrations/Globe#Var-1" id="Var-1" class="hash-sub"><i class="v1" /></a></li><!--
             --><li><a href="/illustrations/Globe#Var-2" id="Var-2" class="hash-sub"><i class="v2" /></a></li>
            </ul>
        </header>
        <div class="tabs-content">
            <div class="Var-1 Mac iterations icongrid level-1 active">
                <span class="i__512-2x"><h6>512@2x</h6><i /></span>
                <div class="level-2">
                    <span class="i__256-2x"><h6>256@2x</h6><i /></span>
                    <div class="level-3">
                        <span class="i__128-2x"><h6>128@2x</h6><i /></span>
                        <div class="level-4">
                            <span class="i__128"><h6>128</h6><i /></span>
                            <div class="level-5">
                                <span class="i__48"><i /></span>
                                <span class="i__16-2x"><i /></span>
                                <span class="i__16"><i /></span>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="Var-2 Mac iterations icongrid level-1">
                <span class="i__512-2x"><h6>512@2x</h6><i /></span>
                <div class="level-2">
                    <span class="i__256-2x"><h6>256@2x</h6><i /></span>
                    <div class="level-3">
                        <span class="i__128-2x"><h6>128@2x</h6><i /></span>
                        <div class="level-4">
                            <span class="i__128"><h6>128</h6><i /></span>
                            <div class="level-5">
                                <span class="i__48"><i /></span>
                                <span class="i__16-2x"><i /></span>
                                <span class="i__16"><i /></span>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <h2>Set of 2 icons, 2011</h2>
            <ul class="buttons" id="pagejs-footer-in">
                <li><a class="button download" href="http://w.nkls.me/g6Io" target="_blank">Download</a></li>
            </ul> 
        </footer>
    </article>
</div>