<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__Juliette_1 anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Juliette 1</h1>
        </header>
        <div class="tabs-content">
            <div class="Final iOS icongrid level-1 active">
                <span class="i__appstore-2x"><h6>Appstore@2x</h6><i /></span>
                <div class="level-2">
                    <span class="i__appstore"><h6>Appstore</h6><i /></span>
                    <div class="level-3">
                        <span class="i__springboard-2x"><i /></span>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <h2>Lauren Peuch, 2012</h2>
        </footer>
    </article>
</div>