<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__Juliette_3 anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Juliette Iterations</h1>
        </header>
        <div class="tabs-content">
            <div class="iterations icongrid active">
                <div class="round">
                    <span class="i__springboard-o-2x a1"><i /></span>
                    <span class="i__springboard-o-2x a2"><i /></span>
                    <span class="i__springboard-o-2x a3"><i /></span>
                    <span class="i__springboard-o-2x a4"><i /></span>
                    <span class="i__springboard-o-2x a5"><i /></span>
                    <span class="i__springboard-o-2x a6"><i /></span>
                    <span class="i__springboard-o-2x a7"><i /></span>
                    <span class="i__springboard-o-2x a8"><i /></span>
                    <span class="i__springboard-o-2x a9"><i /></span>
                    <span class="i__springboard-o-2x a10"><i /></span>
                    <span class="i__springboard-o-2x a11"><i /></span>
                </div>
            </div>
        </div>
        <footer>
            <h2>Lauren Peuch, 2012</h2>
        </footer>
    </article>
</div>