<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__Keycard grid-max__512-2x anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <ul class="tabs small">
                <li><a href="../illustrations/Metallen" class="navigo-to-sibling" data-navigo>{% include "svg/button-prev.svg" %}</a></li><!--
             --><li><a href="../illustrations/Analog" class="navigo-to-sibling" data-navigo>{% include "svg/button-next.svg" %}</a></li>
            </ul>
            <h1>Keycard</h1>
        </header>
        <div class="tabs-content">
            <ul class="Mac Mac-grid active">
                <li class="i__512-2x"><h6>512@2x</h6><i /></li><!--
             --><li class="i__256-2x"><h6>256@2x</h6><i /></li><!--
             --><li class="i__128-2x"><h6>128@2x</h6><i /></li><!--
             --><li class="i__128"><h6>128</h6><i /></li><!--
             --><li class="i__32-2x"><h6>32@2x</h6><i /></li><!--
             --><li class="i__16-2x"><h6>16@2x</h6><i /></li><!--
             --><li class="i__16"><h6>16</h6><i /></li>
            </ul>
            <ul class="iOS iOS-grid">
                <li class="i__appstore-2x"><h6>Appstore@2x</h6><i /></li><!--
             --><li class="i__appstore"><h6>Appstore</h6><i /></li><!--
             --><li class="i__springboard-3x"><h6>Springboard@3x</h6><i /></li><!--
             --><li class="i__springboard-2x"><h6>Springboard@2x</h6><i /></li><!--
             --><li class="i__spotlighticon-3x"><h6>Spotlighticon@3x</h6><i /></li><!--
             --><li class="i__spotlighticon-2x"><h6>Spotlighticon@2x</h6><i /></li><!--
             --><li class="i__settingsicon-3x"><h6>Settingsicon@3x</h6><i /></li><!--
             --><li class="i__settingsicon-2x"><h6>Settingsicon@2x</h6><i /></li>
            </ul>
        </div>
        <footer>
            <ul class="tabs">
                <li class="active"><a href="/illustrations/Keycard#Mac" id="Mac" class="hash-sub">Mac</a></li><!--
             --><li><a href="/illustrations/Keycard#iOS" id="iOS" class="hash-sub">iOS</a></li>
            </ul>
            <h2>Appuous, 2015</h2>
            <ul class="buttons" id="pagejs-footer-in">
                <li><a class="button" href="https://itunes.apple.com/us/app/keycard/id578513438?mt=12" target="_blank">{% include "svg/button-caret.svg" %}Get it on the App Store</a></li>
            </ul> 
        </footer>
    </article>
</div>