<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__PicPicBoom anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>PicPicBoom</h1>
        </header>
        <div class="tabs-content">
            <div class="iOS icongrid level-1 active">
                <span class="i__appstore-2x"><h6>Appstore@2x</h6><i /></span>
                <div class="level-2">
                    <span class="i__appstore"><h6>Appstore</h6><i /></span>
                    <div class="level-3">
                        <h6>2x</h6>
                        <span class="i__springboard-2x"><i /></span>
                        <span class="i__spotlight-2x"><i /></span>
                        <span class="i__settings-2x"><i /></span>
                    </div>
                    <div class="level-4">
                        <h6>1x</h6>
                        <span class="i__springboard-1x"><i /></span>
                        <span class="i__spotlight-1x"><i /></span>
                        <span class="i__settings-1x"><i /></span>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <h2>PicPicBoom, 2014</h2>
        </footer>
    </article>
</div>