<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__Shuzzle anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Shuzzle</h1>
            <ul class="tabs">
                <li class="active"><a href="/illustrations/Shuzzle#iOS" id="iOS" class="hash-sub">Final</a></li><!--
             --><li><a href="/illustrations/Shuzzle#iterations" id="iterations" class="hash-sub">Iterations</a></li>
            </ul>
        </header>
        <div class="tabs-content">
            <div class="iOS icongrid level-1 active">
                <span class="i__appstore-2x"><h6>Appstore@2x</h6><i /></span>
                <div class="level-2">
                    <span class="i__appstore"><h6>Appstore</h6><i /></span>
                    <div class="level-3">
                        <h6>2x</h6>
                        <span class="i__springboard-2x"><i /></span>
                        <span class="i__spotlight-2x"><i /></span>
                        <span class="i__settings-2x"><i /></span>
                    </div>
                    <div class="level-4">
                        <h6>1x</h6>
                        <span class="i__springboard-1x"><i /></span>
                        <span class="i__spotlight-1x"><i /></span>
                        <span class="i__settings-1x"><i /></span>
                    </div>
                </div>
            </div>
            <div class="iterations icongrid">
                <div class="round-1">
                    <h6>Round 1</h6>
                    <span class="i__springboard-o-2x a1"><i /></span>
                    <span class="i__springboard-o-2x a2"><i /></span>
                    <span class="i__springboard-o-2x a3"><i /></span>
                    <span class="i__springboard-o-2x a4"><i /></span>
                    <span class="i__springboard-o-2x a5"><i /></span>
                    <span class="i__springboard-o-2x a6"><i /></span>
                    <span class="i__springboard-o-2x a7"><i /></span>
                    <span class="i__springboard-o-2x a8"><i /></span>
                    <span class="i__springboard-o-2x a9"><i /></span>
                    <span class="i__springboard-o-2x a10"><i /></span>
                    <span class="i__springboard-o-2x a11"><i /></span>
                    <span class="i__springboard-o-2x a12"><i /></span>
                    <span class="i__springboard-o-2x a13"><i /></span>
                    <span class="i__springboard-o-2x a14"><i /></span>
                    <span class="i__springboard-o-2x a15"><i /></span>
                    <span class="i__springboard-o-2x a16"><i /></span>
                    <span class="i__springboard-o-2x a17"><i /></span>
                    <span class="i__springboard-o-2x a18"><i /></span>
                    <span class="i__springboard-o-2x a19"><i /></span>
                    <span class="i__springboard-o-2x a20"><i /></span>
                    <span class="i__springboard-o-2x a21"><i /></span>
                    <span class="i__springboard-o-2x a22"><i /></span>
                    <span class="i__springboard-o-2x a23"><i /></span>
                    <span class="i__springboard-o-2x a24"><i /></span>
                    <span class="i__springboard-o-2x a25"><i /></span>
                    <span class="i__springboard-o-2x a26"><i /></span>
                    <span class="i__springboard-o-2x a27"><i /></span>
                    <span class="i__springboard-o-2x a28"><i /></span>
                    <span class="i__springboard-o-2x a29"><i /></span>
                    <span class="i__springboard-o-2x a30"><i /></span>
                    <span class="i__springboard-o-2x a31"><i /></span>
                    <span class="i__springboard-o-2x a32"><i /></span>
                    <span class="i__springboard-o-2x a33"><i /></span>
                    <span class="i__springboard-o-2x a34"><i /></span>
                    <span class="i__springboard-o-2x a35"><i /></span>
                    <span class="i__springboard-o-2x a36"><i /></span>
                </div>
                <div class="round-2">
                    <h6>Round 2</h6>
                    <span class="i__springboard-o-2x b1"><i /></span>
                    <span class="i__springboard-o-2x b2"><i /></span>
                    <span class="i__springboard-o-2x b3"><i /></span>
                    <span class="i__springboard-o-2x b4"><i /></span>
                    <span class="i__springboard-o-2x b5"><i /></span>
                    <span class="i__springboard-o-2x b6"><i /></span>
                    <span class="i__springboard-o-2x b7"><i /></span>
                    <span class="i__springboard-o-2x b8"><i /></span>
                    <span class="i__springboard-o-2x b9"><i /></span>
                    <span class="i__springboard-o-2x b10"><i /></span>
                    <span class="i__springboard-o-2x b11"><i /></span>
                    <span class="i__springboard-o-2x b12"><i /></span>
                    <span class="i__springboard-o-2x b13"><i /></span>
                    <span class="i__springboard-o-2x b14"><i /></span>
                    <span class="i__springboard-o-2x b15"><i /></span>
                    <span class="i__springboard-o-2x b16"><i /></span>
                    <span class="i__springboard-o-2x b17"><i /></span>
                    <span class="i__springboard-o-2x b18"><i /></span>
                    <span class="i__springboard-o-2x b19"><i /></span>
                    <span class="i__springboard-o-2x b20"><i /></span>
                </div>
                <div class="round-3">
                    <h6>Round 3</h6>
                    <span class="i__springboard-o-2x c1"><i /></span>
                    <span class="i__springboard-o-2x c2"><i /></span>
                </div>
            </div>
        </div>
        <footer>
            <h2>Appuous, 2013</h2>
            <ul class="buttons" id="pagejs-footer-in">
                <li><a class="button" href="http://shuzzle.appstor.io" target="_blank">{% include "svg/button-caret.svg" %}Learn More</a></li>
            </ul> 
        </footer>
    </article>
</div>