<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__TasteBud anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>TasteBud</h1>
            <ul class="tabs">
                <li class="active"><a href="/illustrations/Azul#iOS" id="iOS" class="hash-sub">iOS</a></li><!--
             --><li><a href="/illustrations/Azul#Android" id="Android" class="hash-sub">Android</a></li>
            </ul>
        </header>
        <div class="tabs-content">
            <div class="iOS icongrid level-1 active">
                <span class="i__appstore-2x"><h6>Appstore@2x</h6><i /></span>
                <div class="level-2">
                    <span class="i__appstore"><h6>Appstore</h6><i /></span>
                    <div class="level-3">
                        <h6>3x</h6>
                        <span class="i__springboard-3x"><i /></span>
                        <span class="i__spotlight-3x"><i /></span>
                    </div>
                    <div class="level-4">
                        <h6>2x</h6>
                        <span class="i__springboard-2x"><i /></span>
                        <span class="i__spotlight-2x"><i /></span>
                    </div>
                </div>
            </div>
            <div class="Android icongrid level-1">
                <span class="i__googleplay-2x"><h6>Google Play</h6><i /></span>
                <div class="level-2">
                    <span class="i__googleplay-1x"><h6>Launcher Icons</h6><i /></span>
                    <div class="level-3">
                        <span class="i__launchericon-xxxhdpi"><i /></span>
                        <span class="i__launchericon-xxhdpi"><i /></span>
                        <span class="i__launchericon-xhdpi"><i /></span>
                    </div>
                    <div class="level-4">
                        <span class="i__launchericon-hdpi"><i /></span>
                        <span class="i__launchericon-mdpi"><i /></span>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <h2>Azul, 2014</h2>
        </footer>
    </article>
</div>