<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__TB_Fork  anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Restaurant</h1>
        </header>
        <div class="tabs-content">
            <div class="icongrid array level-1 active">
                <span class="i__512-2x i__icon-lg"><i /></span>
                <div class="level-2">
                    <span class="i__icon-xxhdpi"><i /></span>
                    <span class="i__icon-xhdpi"><i /></span>
                    <span class="i__icon-hdpi"><i /></span>
                    <span class="i__icon-mdpi"><i /></span>     
                </div>                      
            </div>
        </div>
        <footer>
            <h2>TasteBud, 2014</h2>
        </footer>
    </article>
</div>