<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__Thoughts anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Thoughts</h1>
        </header>
        <div class="tabs-content">
            <div class="Mac icongrid level-1 active">
                <span class="i__512-2x"><h6>512@2x</h6><i /></span>
                <div class="level-2">
                    <span class="i__256-2x"><h6>256@2x</h6><i /></span>
                    <div class="level-3">
                        <span class="i__128-2x"><h6>128@2x</h6><i /></span>
                        <div class="level-4">
                            <span class="i__128"><h6>128</h6><i /></span>
                            <div class="level-5">
                                <span class="i__32-2x"><i /></span>
                                <span class="i__16-2x"><i /></span>
                                <span class="i__16"><i /></span>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <h2>Appuous, 2013</h2>
        </footer>
    </article>
</div>