<div class="modal-wrapper" id="pagejs-load-in-sub">   
    <article class="modal page-icons__TO anim-in">
        <header>            
            <a href="../illustrations" class="navigo-back-to-parent data-navigo-sub modal-close" data-navigo>{% include "svg/close-sub.svg" %}</a>
            <h1>Issey Miyaki, TO</h1>
        </header>
        <div class="tabs-content">
            <div class="a1 active">
                <span class="i__512-2x"><i /></span>
            </div>
        </div>
        <footer>
            <h2>2012</h2>
        </footer>
    </article>
</div>