<nav class="nav">
    <div class="wrapper">  
        <div class="grid">
            <span class="logo">
                <a class="home" href="../home/" data-navigo>{% include "svg/logo.svg" %}</a>
            </span>
            <ul class="nav-desktop" lang="en"><!--
            --><li class="products"><a href="../work/" data-navigo>Work</a></li><!--
            --><li class="photography"><a href="../photography/" data-navigo>Photography</a></li><!--
            --><li class="resume"><a href="../resume/" data-navigo>Résumé</a></li><!--
            --><li class="contact"><a href="../contact/" data-navigo>Contact</a></li><!--
         --></ul>
            <div class="mobile-menu-container" lang="en">
                <ul class="mobile-menu-link"><li></li><li></li><li></li></ul>
                <ul class="mobile-menu">
            		<li class="products"><a class="products" href="../work/" data-navigo>{% include "svg/mobilenav-projects.svg" %}Work</a></li><!--
                 --><li class="photography"><a class="photography"  href="../photography/" data-navigo>{% include "svg/mobilenav-photography.svg" %}Photography</a></li><!--
                 --><li class="resume"><a class="resume" href="../resume/" data-navigo>{% include "svg/mobilenav-resume.svg" %}Résumé</a></li><!--
                 --><li class="contact"><a class="contact" href="../contact/" data-navigo>{% include "svg/mobilenav-contact.svg" %}Contact</a></li><!--
             --></ul>
            </div>
        </div>
    </div>
</nav>