<div class="wrapper">  
    <div class="grid">
        <span class="logo">
            <a class="home" href="../home/" data-navigo>{% include "svg/logo.svg" %}</a>
        </span>
        <ul class="u__anim-in" lang="en"><!--
        --><li class="products"><a href="../products/" data-navigo>Products</a></li><!--
        --><li class="illustrations"><a href="../illustrations/" data-navigo>Illustrations</a></li><!--
        --><li class="photography"><a href="../photography/" data-navigo>Photography</a></li><!--
        --><li class="resume"><a href="../resume/" data-navigo>Résumé</a></li><!--
        --><li class="contact"><a href="../contact/" data-navigo>Contact</a></li><!--
     --></ul>
    </div>
</div>