<div class="wrapper">  
    <div class="grid">
        <span class="logo">
            <a class="home" href="" data-navigo="">{% include "svg/icon-logo.svg" %}</a>
        </span>
        <ul class="u__anim-in tabs" lang="en"><!--
        --><li class="products"><a href="products" data-navigo>Products</a></li><!--
        --><li class="illustrations"><a href="illustrations" data-navigo>Illustrations</a></li><!--
        --><li class="photography"><a href="photography" data-navigo>Photography</a></li><!--
        --><li class="resume"><a href="resume" data-navigo>Résumé</a></li><!--
        --><li class="contact"><a href="contact" data-navigo>Contact</a></li><!--
     --></ul>
        <div class="mobile-menu-container" lang="en">
            <a href="#" class="u__anim-in mobile-menu-link">Menu</a>
            <ul class="mobile-menu">
        		<li class="products"><a class="products" href="products" data-navigo>{% include "svg/mobilenav-projects.svg" %}Products</a></li><!--
             --><li class="illustrations"><a class="illustrations"  href="illustrations" data-navigo>{% include "svg/mobilenav-illustrations.svg" %}Illustrations</a></li><!--
             --><li class="photography"><a class="photography"  href="photography" data-navigo>{% include "svg/mobilenav-photography.svg" %}Photography</a></li><!--
             --><li class="resume"><a class="resume" href="resume" data-navigo>{% include "svg/mobilenav-resume.svg" %}Résumé</a></li><!--
             --><li class="contact"><a class="contact" href="contact" data-navigo>{% include "svg/mobilenav-contact.svg" %}Contact</a></li><!--
         --></ul>
        </div>
    </div>
</div>