<p id="header-fragment-photography" lang="en" class="header-text">I shoot exclusively with a Fujifilm X-T1. <br/ /> To see more, follow me on <a href="//www.instagram.com/wilthedznr" target="_blank">Instagram</a>.<br />If you're near Austin, I take <a href="photography/6_people" data-navigo>portraits</a>. <a href="contact" data-navigo>Contact me</a>.
</p>


<div role="page" id="page-fragment-photography" class="wrapper">
    <ul class="grid">
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Nov_16--Drumpf" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">The Post-Election</span><span class="sub-title">November 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Nov_16--Drumpf.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Sep_16--Austin_City_Limits_Music_Festival" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Austin City Limits Music Festival</span><span class="sub-title">September 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Sep_16--Austin_City_Limits_Music_Festival.jpg" alt="" /><!--
         --></a><!--
     --></li>
     <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Aug-Dec_2016--ATX" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Austin</span><span class="sub-title">Ongoing, Fall-Winter 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Aug-Dec_2016--ATX.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Aug_16--Seaholm" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Seaholm</span><span class="sub-title">August 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Aug_16--Seaholm.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Aug_16--Lavaca_and_MLK,_ATX" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Lavaca and MLK, ATX</span><span class="sub-title">August 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Aug_16--Lavaca_and_MLK,_ATX.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
          --><a href="photography/Aug_16--Fair_Trade_Comedy_Showcase" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Fair Trade Comedy Showcase</span><span class="sub-title">August 2016</span></div><!--
              --><img src="/static/img/photography/thumbs/Aug_16--Fair_Trade_Comedy_Showcase.jpg" alt="" /><!--
          --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Jun_16--Chicago" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Chicago</span><span class="sub-title">June 2016</span></div><!--
            --><img src="/static/img/photography/thumbs/Jun_16--Chicago.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Jun_16--Harpa" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Harpa</span><span class="sub-title">Iceland: June 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Jun_16--Harpa.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Jun_16--Iceland,_Reykjavik" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Reykjavik</span><span class="sub-title">Iceland, June 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Jun_16--Iceland,_Reykjavik.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Jun_16--Iceland,_Southern_Coast" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Southern Coast</span><span class="sub-title">Iceland, June 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Jun_16--Iceland,_Southern_Coast.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Jan-May_2016--Lyon" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Lyon</span><span class="sub-title">Winter & Spring 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Jan-May_2016--Lyon.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Apr_16--Auzon" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Auzon</span><span class="sub-title">April 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Apr_16--Auzon.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Apr_16--Shoreditch" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Shoreditch</span><span class="sub-title">April 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Apr_16--Shoreditch.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Apr_16--London" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">London</span><span class="sub-title">April 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Apr_16--London.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Apr_16--Lisbon" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Lisbon</span><span class="sub-title">April 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Apr_16--Lisbon.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Apr_16--Madrid" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Madrid</span><span class="sub-title">April 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Apr_16--Madrid.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Apr_16--Geneva" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Geneva</span><span class="sub-title">April 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Apr_16--Geneva.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Mar_16--Aix-En-Provence" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Aix-En-Provence</span><span class="sub-title">March 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Mar_16--Aix-En-Provence.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Mar_16--Paris" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Paris</span><span class="sub-title">March 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Mar_16--Paris.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Mar_16--Vichy" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Vichy</span><span class="sub-title">March 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Mar_16--Vichy.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Feb_16--Annecy" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Annecy II</span><span class="sub-title">February 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Feb_16--Annecy.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Feb_16--Giant's_Causeway" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Giant's Causeway</span><span class="sub-title">February 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Feb_16--Giant's_Causeway.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Feb_16--Belfast" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Belfast</span><span class="sub-title">February 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Feb_16--Belfast.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Feb_16--Manchester" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Manchester</span><span class="sub-title">February 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Feb_16--Manchester.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Feb_16--Geneva_Airport" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Genève Aéroport</span><span class="sub-title">February 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Feb_16--Geneva_Airport.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Jan_16--Marseille" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Marseille</span><span class="sub-title">January 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Jan_16--Marseille.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Jan_16--Annecy" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Annecy I</span><span class="sub-title">January 2016</span></div><!--
             --><img src="/static/img/photography/thumbs/Jan_16--Annecy.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/Dec_15--Auzon" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Auzon</span><span class="sub-title">December 2015</span></div><!--
             --><img src="/static/img/photography/thumbs/Dec_15--Auzon.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/1_Colors" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Colors</span></div><!--
             --><img src="/static/img/photography/thumbs/1_Colors.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/1_People" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">People</span></div><!--
             --><img src="/static/img/photography/thumbs/1_People.jpg" alt="" /><!--
         --></a><!--
     --></li>
    </ul>
</div>



<ul id="footer-fragment-photography" class="buttons">
    <li><a href="http://www.instagram.com/wilthedznr" target="_blank">{% include "svg/footer_instagram.svg" %}</a></li>
</ul>