<div role="page" id="page-fragment-index" class="u__align-items-center wrapper">   
    <div class="grid u__anim-in">
        <div class="u__align-items-center grid__col grid__col--8-of-12 portrait">
            <section name="about" class="about">
                <p lang="en"><strong><a href="/">Wil Nichols</a></strong> is a <strong><a href="/products">product designer</a></strong>, <strong><a href="/illustrations" data-navigo>digital illustrator</a></strong>, and <strong><a href="/photography" data-navigo>photographer</a></strong> with over seven years of design experience. Apart from braving the Austin heat, he enjoys traveling, cooking, tennis, reading, and well made things.</p>     
            </section>
        </div>
    </div>
</div>