<div role="page" id="page-fragment-index" class="u__align-items-center wrapper">   
    <div class="grid u__anim-in">
        <div class="u__align-items-center grid__col grid__col--7-of-12">
            <section name="about" class="about">
                <h1>Wil Nichols</h1>
                <p lang="en">I'm a <a href="/products" class="products" data-navigo>multidisciplinary</a> <a href="/illustrations" class="illustrations" data-navigo>designer</a> creating the world's best business push-to-talk solution at <a target="_blank" href="//www.zellowork.com">Zello</a>, and completing a French degree at the University of Texas at Austin.</p>
                <ul class="elsewhere">
                    <li><h3>Elsewhere</h3></li>
                    <li class="dribbble"><a href="//www.dribbble.com/wil" target="_blank">{% include "svg/dribbble-sm.svg" %} Dribbble</a></li>
                    <li class="instagram"><a href="//www.instagram.com/wil.nichols" target="_blank">{% include "svg/instagram-sm.svg" %} Instagram</a></li>
                </ul>
            </section>
        </div>
    </div>
    <figure id="portrait"></figure>
</div>