<div role="page" id="page-fragment-work" class="wrapper">
      <div class="work-table" lang="en">
        <section class="products__tastebud">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/TasteBud@2x.png" srcset="/static/img/products/TasteBud@1x.png 1x, /static/img/products/TasteBud@2x.png 2x" alt="" class="ios" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>TasteBud</h2>
                        <h3><time>2016.</time> iOS, Android, Branding, Product Design</h3>
                        <p>TasteBud allows diners to save up to 50% on meals by eating at off-peak hours, creating new consumers and offsetting restaurants' static overhead.</p>
                        <a href="#" class="view-details data-navigo-sub" data-navigo>View Details</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__analog-osx">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/Analog-OSX@2x.png" srcset="/static/img/products/Analog-OSX@1x.png 1x, /static/img/products/Analog-OSX@2x.png 2x" alt="" class="macos" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Analog for MacOS</h2>
                        <h3><time>2015.</time> MacOS, Product Design</h3>
                        <p>Analog for MacOS pairs with its iOS companion to wirelessly sync, develop, and publish photos.</p>
                        <a href="#" class="view-details data-navigo-sub" data-navigo>View Details</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__analog-ios">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/Analog-iOS@2x.png" srcset="/static/img/products/Analog-iOS@1x.png 1x, /static/img/products/Analog-iOS@2x.png 2x" alt="" class="ios" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Analog for iOS</h2>
                        <h3><time>2015</time>: iOS, Product Design</h3>
                        <p>Analog for iOS builds on its predecessor's filter packs, while offering fine-grain control of the device's camera hardware and library management.</p>
                        <a href="#" class="view-details data-navigo-sub" data-navigo>View Details</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__invite">
              <div class="product-img">
                <div class="frame"><img src="/static/img/products/Invite.png" srcset="/static/img/products/Invite@1x.png 1x, /static/img/products/Invite@2x.png 2x" alt="" class="ios" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Invite</h2>
                        <h3><time>2015.</time> iOS, Product Design</h3>
                        <p>Integrating with existing calendar services, Invite allows for individuals to schedule meetings around a group's convenience, requiring neither today's enterprise calendar solutions or recipient input.</p>
                        <a href="#" class="view-details data-navigo-sub" data-navigo>View Details</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__keycard-osx">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/Keycard-OSX@2x.png" srcset="/static/img/products/Keycard-OSX@1x.png 1x, /static/img/products/Keycard-OSX@2x.png 2x" alt="" class="macos" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Keycard for MacOS</h2>
                        <h3><time>2015.</time> MacOS, Product Design</h3>
                        <p>Keycard for MacOS performs specific user-customizable actions when triggered remotely from a paired device, or once a device comes into range.</p>
                        <a href="#" class="view-details data-navigo-sub" data-navigo>View Details</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__keycard-ios">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/Keycard-iOS@2x.png" srcset="/static/img/products/Keycard-iOS@1x.png 1x, /static/img/products/Keycard-iOS@2x.png 2x" alt="" class="ios" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Keycard for iOS</h2>
                        <h3><time>2015.</time> iOS, Product Design</h3>
                        <p>Keycard for iOS remotely performs actions on a paired desktop.</p>
                        <a href="#" class="view-details data-navigo-sub" data-navigo>View Details</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__vevi">
            <div class="product-img">
                <div class="frame"><img ssrc="/static/img/products/vEvi@2x.png" srcset="/static/img/products/vEvi@1x.png 1x, /static/img/products/vEvi@2x.png 2x" alt="" class="ios" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>[Unnamed]</h2>
                        <h3><time>2015.</time> iOS, Visual & Interface Design</h3>
                        <p>[Unnamed] is designed to control a bluetooth device with three motors, operated with minimal attention paid to the phone's screen.</p>
                        <a href="#" class="view-details data-navigo-sub" data-navigo>View Details</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__AustinFreeNet">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/AFN@2x.png" srcset="/static/img/products/AFN@1x.png 1x, /static/img/products/AFN@2x.png 2x" alt="" class="ios" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Austin Free-Net</h2>
                        <h3><time>2015.</time> iOS, Android, Product Design</h3>
                        <p>The Austin Free-Net mobile app provides access to AFN's static online content, and allows volunteers to find their nearest location.</p>
                        <a href="#" class="view-details data-navigo-sub" data-navigo>View Details</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__Arex">
            <div class="product-img">
                <div class="frame"><img ssrc="/static/img/products/Arex@2x.png" srcset="/static/img/products/Arex@1x.png 1x, /static/img/products/Arex@2x.png 2x" alt="" class="ios" /></div>
            </div>
                <div class="product-text">
                    <div class="text-container">
                        <div class="text">
                            <h2>Arex</h2>
                            <h3><time>2013.</time> iOS, Product Design, Visual Design</h3>
                            <p>Arex allows for location- and schedule-based medicine reminders.</p>
                            <a href="#" class="view-details data-navigo-sub" data-navigo>View Details</a>
                        </div>
                    </div>
            </div>
        </section>
        <section class="products__FiveSquare">
              <div class="product-img">
                <div class="frame"><img src="/static/img/products/FiveSquare@2x.png" srcset="/static/img/products/FiveSquare@1x.png 1x, /static/img/products/FiveSquare@2x.png 2x" alt="" class="ios" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">      
                    <div class="text">
                        <h2>FiveSquare</h2>
                        <h3><time>2011.</time> iOS, Interface & Visual Design</h3>
                        <p>Five Square combines the simplicity and elegance of classic solitaire with the allure of strategic gameplay.</p>
                        <a href="#" class="view-details data-navigo-sub" data-navigo>View Details</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__Diligence">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/Diligence@2x.png" srcset="/static/img/products/Diligence@1x.png 1x, /static/img/products/Diligence@2x.png 2x" alt="" class="macos" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Diligence</h2>
                        <h3><time>2011.</time> MacOS, Interface & Visual Design</h3>
                        <p>Diligence is a lightweight GTD app for MacOS.</p>
                        <a href="#" class="view-details data-navigo-sub" data-navigo>View Details</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
