<div role="page" id="page-fragment-products" class="wrapper">
      <div class="product-table" lang="en">
        <section class="products__tastebud">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/TasteBud@2x.png" srcset="/static/img/products/TasteBud@1x.png 1x, /static/img/products/TasteBud@2x.png 2x" alt="" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>TasteBud</h2>
                        <h3>Project Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed placerat orci, vel dignissim odio. Pellentesque porttitor neque orci, nec convallis elit eleifend vel.</p>
                        <span>View Product Details</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__analog-osx">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/Analog-OSX@2x.png" srcset="/static/img/products/Analog-OSX@1x.png 1x, /static/img/products/Analog-OSX@2x.png 2x" alt="" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Analog for MacOS</h2>
                        <h3>Project Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed placerat orci, vel dignissim odio. Pellentesque porttitor neque orci, nec convallis elit eleifend vel.</p>
                        <span>View Product Details</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__analog-ios">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/Analog-iOS@2x.png" srcset="/static/img/products/Analog-iOS@1x.png 1x, /static/img/products/Analog-iOS@2x.png 2x" alt="" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Analog for iOS</h2>
                        <h3>Project Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed placerat orci, vel dignissim odio. Pellentesque porttitor neque orci, nec convallis elit eleifend vel.</p>
                        <span>View Product Details</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__invite">
              <div class="product-img">
                <div class="frame"><img src="/static/img/products/Invite.png" srcset="/static/img/products/Invite@1x.png 1x, /static/img/products/Invite@2x.png 2x" alt="" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Invite</h2>
                        <h3>Project Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed placerat orci, vel dignissim odio. Pellentesque porttitor neque orci, nec convallis elit eleifend vel.</p>
                        <span>View Product Details</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__keycard-osx">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/Keycard-OSX@2x.png" srcset="/static/img/products/Keycard-OSX@1x.png 1x, /static/img/products/Keycard-OSX@2x.png 2x" alt="" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Keycard for MacOS</h2>
                        <h3>Project Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed placerat orci, vel dignissim odio. Pellentesque porttitor neque orci, nec convallis elit eleifend vel.</p>
                        <span>View Product Details</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__keycard-ios">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/Keycard-iOS@2x.png" srcset="/static/img/products/Keycard-iOS@1x.png 1x, /static/img/products/Keycard-iOS@2x.png 2x" alt="" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Keycard for iOS</h2>
                        <h3>Project Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed placerat orci, vel dignissim odio. Pellentesque porttitor neque orci, nec convallis elit eleifend vel.</p>
                        <span>View Product Details</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__vevi">
            <div class="product-img">
                <div class="frame"><img ssrc="/static/img/products/vEvi@2x.png" srcset="/static/img/products/vEvi@1x.png 1x, /static/img/products/vEvi@2x.png 2x" alt="" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>vEvi</h2>
                        <h3>Project Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed placerat orci, vel dignissim odio. Pellentesque porttitor neque orci, nec convallis elit eleifend vel.</p>
                        <span>View Product Details</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__AustinFreeNet">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/AFN@2x.png" srcset="/static/img/products/AFN@1x.png 1x, /static/img/products/AFN@2x.png 2x" alt="" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Austin Free-Net</h2>
                        <h3>Project Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed placerat orci, vel dignissim odio. Pellentesque porttitor neque orci, nec convallis elit eleifend vel.</p>
                        <span>View Product Details</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__Arex">
            <div class="product-img">
                <div class="frame"><img ssrc="/static/img/products/Arex@2x.png" srcset="/static/img/products/Arex@1x.png 1x, /static/img/products/Arex@2x.png 2x" alt="" /></div>
            </div>
                <div class="product-text">
                    <div class="text-container">
                        <div class="text">
                            <h2>Arex</h2>
                            <h3>Project Description</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed placerat orci, vel dignissim odio. Pellentesque porttitor neque orci, nec convallis elit eleifend vel.</p>
                            <span>View Product Details</span>
                        </div>
                    </div>
            </div>
        </section>
        <section class="products__FiveSquare">
              <div class="product-img">
                <div class="frame"><img src="/static/img/products/FiveSquare@2x.png" srcset="/static/img/products/FiveSquare@1x.png 1x, /static/img/products/FiveSquare@2x.png 2x" alt="" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">      
                    <div class="text">
                        <h2>FiveSquare</h2>
                        <h3>Project Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed placerat orci, vel dignissim odio. Pellentesque porttitor neque orci, nec convallis elit eleifend vel.</p>
                        <span>View Product Details</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="products__Diligence">
            <div class="product-img">
                <div class="frame"><img src="/static/img/products/Diligence@2x.png" srcset="/static/img/products/Diligence@1x.png 1x, /static/img/products/Diligence@2x.png 2x" alt="" /></div>
            </div>
            <div class="product-text">
                <div class="text-container">
                    <div class="text">
                        <h2>Diligence</h2>
                        <h3>Project Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed placerat orci, vel dignissim odio. Pellentesque porttitor neque orci, nec convallis elit eleifend vel.</p>
                        <span>View Product Details</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
