<p id="header-fragment-illustrations" lang="en" class="header-text">I've been designing icons since 2008.<br />To see more, follow me on <a href="//www.dribbble.com/wil" target="blank">Dribbble</a>.</p>


<div role="page" id="page-fragment-illustrations" class="wrapper">
    <div class="mosaic">
        <div class="page-icons__Text2Polls mosaic__panel mosaic__panel--1-of-1 mosaic__panel--m-1-of-1 click-to-zoom">
            <figure>
                <a href="https://medium.com/the-texas-tribune/texas-voter-turnout-is-dismal-here-are-8-ways-to-improve-it-13342ff153e5#.5ddhthwpi" target="_blank">
                    
                        <i class="i__Text2Polls" />
                        <ul class="details">
                            <li class="date">2016</li>
                            <li class="badges">Learn more at the Texas Tribune.</li>
                        </ul>
                </a>
            </figure> 
        </div>
        <div class="page-icons__Keycard mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Keycard">
                    <i class="i__Keycard" />
                    <ul class="details">
                        <li class="date">2015</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure> 
        </div>
        <div class="page-icons__Keycard mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Keycard">
                    <i class="i__Keycard_iOS" />
                    <ul class="details">
                        <li class="date">2015</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure> 
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-1 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__Pride" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__Analog mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Analog">
                    <i class="i__Analog_iOS" />
                    <ul class="details">
                        <li class="date">2015</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__Analog mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Analog">
                    <i class="i__Analog" />
                    <ul class="details">
                        <li class="date">2015</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__Dell mosaic__panel mosaic__panel--1-of-2 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__Dell" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__SmallChange mosaic__panel mosaic__panel--1-of-2 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__SmallChange" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__Kismet mosaic__panel mosaic__panel--1-of-1 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__Kismet" />
                <ul class="details">
                    <li class="date">2014</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__Rougemark_Bow mosaic__panel mosaic__panel--1-of-2 mosaic__panel--m-1-of-2 mosaic__panel--m-1-of-2">
            <figure>
                <i class="i__Rougemark_Bow" />
                <ul class="details">
                    <li class="date">2014</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__Rougemark mosaic__panel mosaic__panel--1-of-2">
            <figure>
                <i class="i__Rougemark" />
                <ul class="details">
                    <li class="date">2014</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__Zello_Web mosaic__panel mosaic__panel--1-of-2  mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__Zello_Web" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__Zello_Iconsys mosaic__panel mosaic__panel--1-of-2  mosaic__panel--m-1-of-1">
            <figure>  
                <i class="i__Zello_Iconsys" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__Zello_Accessories mosaic__panel mosaic__panel--1-of-2 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__Zello_Accessories" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__toolbaricons mosaic__panel mosaic__panel--1-of-2 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__toolbaricons" />
                <ul class="details">
                    <li class="date">2013</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__Flaunt mosaic__panel mosaic__panel--1-of-2 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Flaunt">
                    <i class="i__Flaunt" />
                    <ul class="details">
                        <li class="date">2015</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__PicPicBoom mosaic__panel mosaic__panel--1-of-2 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/PicPicBoom">
                    <i class="i__PicPicBoom" />
                    <ul class="details">
                        <li class="date">2014</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__iOS mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3">
            <figure> 
                <i class="i__Social_1" />
                <ul class="details">
                    <li class="date">2016</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__iOS mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3">
            <figure>
                <i class="i__Social_2" />
                <ul class="details">
                    <li class="date">2016</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__iOS mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Azul">
                    <i class="i__Azul" />
                    <ul class="details">
                        <li class="date">2014</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__iOS mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/FailureGames">
                    <i class="i__FailureGames" />
                    <ul class="details">
                        <li class="date">2013</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__iOS mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Invite">
                    <i class="i__Invite" />
                    <ul class="details">
                        <li class="date">2014</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__iOS mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3">
            <figure>
                <i class="i__OnTap" />
                <ul class="details">
                    <li class="date">2014</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__iOS mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3">
            <figure>
                <i class="i__Flaunt_2" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__iOS mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Shuzzle">
                    <i class="i__Shuzzle" />
                    <ul class="details">
                        <li class="date">2013</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__iOS mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/TasteBud">
                    <i class="i__TasteBud_Icon" />
                    <ul class="details">
                        <li class="date">2015</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__iOS mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/TasteBud_Internal">
                    <i class="i__TasteBud_Icon_Internal" />
                    <ul class="details">
                        <li class="date">2015</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__iOS mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3">
            <figure>
                <i class="i__PicPicBoom_2" />
                <ul class="details">
                    <li class="date">2013</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__iOS mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3">
            <figure>
                <i class="i__MediaPlayer" />
                <ul class="details">
                    <li class="date">2013</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__TB mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__TB_Cards" />
                <ul class="details">
                    <li class="date">2014</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__TB mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__Groupchat" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__TasteBud mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__TasteBud_Glyphs" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__GCC mosaic__panel mosaic__panel--1-of-1 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__GCC" />
                <ul class="details">
                    <li class="date">2013</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__Instawink mosaic__panel mosaic__panel--1-of-2">
            <figure>
                <i class="i__Instawink" />
                <ul class="details">
                    <li class="date">2013</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__FreeBee mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/FreeBee">
                    <i class="i__FreeBee" />
                    <ul class="details">
                        <li class="date">2015</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__Answers mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Answers">
                    <i class="i__Answers" />
                    <ul class="details">
                        <li class="date">2015</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__Thoughts mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Thoughts">
                    <i class="i__Thoughts" />
                    <ul class="details">
                        <li class="date">2013</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__Notepad mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Notepad">
                    <i class="i__Notepad" />
                    <ul class="details">
                        <li class="date">2013</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__Diligence mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Diligence">
                    <i class="i__Diligence" />
                    <ul class="details">
                        <li class="date">2011</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__Battery_Monitor mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Battery_Monitor">
                    <i class="i__Battery_Monitor" />
                    <ul class="details">
                        <li class="date">2012</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__FavBook mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-2">
            <figure>
                <i class="i__FavBook" />
                <ul class="details">
                    <li class="date">2009</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__Iconstructor mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Iconstructor">
                    <i class="i__Iconstructor" />
                    <ul class="details">
                        <li class="date">2011</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__Plugin mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Plugin">
                    <i class="i__Plugin" />
                    <ul class="details">
                        <li class="date">2011</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__Ghost mosaic__panel mosaic__panel--1-of-4 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Ghost">
                    <i class="i__Ghost" />
                    <ul class="details">
                        <li class="date">2011</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__Ghost mosaic__panel mosaic__panel--1-of-4 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Thoughts_Alt">
                    <i class="i__Ghost_Alt" />
                    <ul class="details">
                        <li class="date">2012</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__Compteur mosaic__panel mosaic__panel--1-of-4 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Compteur">
                    <i class="i__Compteur" />
                    <ul class="details">
                        <li class="date">2010</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__Stickies mosaic__panel mosaic__panel--1-of-4 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Stickies">
                    <i class="i__Stickies" />
                    <ul class="details">
                        <li class="date">2012</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__TB_MM mosaic__panel mosaic__panel--1-of-2">
            <figure>
                <i class="i__TB_MustachesAndMargaritas" />
                <ul class="details">
                    <li class="date">2014</li>
                </ul>
            </figure>
        </div>
        <div class="page-icons__TB_Giftbox mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/TB_Give5Get5">
                    <i class="i__TB_Giftbox" />
                    <ul class="details">
                        <li class="date">2014</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__TB mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/TB_Merchant">
                    <i class="i__TB_Fork" />
                    <ul class="details">
                        <li class="date">2014</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__TB mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/TB_Favorites">
                    <i class="i__TB_Star" />
                    <ul class="details">
                        <li class="date">2014</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>  
                </a>  
            </figure>
        </div>
        <div class="page-icons__TB mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/TB_Purchases">
                    <i class="i__TB_Purchases" />
                    <ul class="details">
                        <li class="date">2014</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>   
                </a>
            </figure>
        </div>
        <div class="page-icons__TB mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/TB_Payments">
                    <i class="i__TB_Wallet" />
                    <ul class="details">
                        <li class="date">2014</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>   
                </a>
            </figure>
        </div>
        <div class="page-icons__FileTouchManager mosaic__panel mosaic__panel--1-of-1 mosaic__panel--m-1-of-1 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/FileTouchManager">
                    <i class="i__FileTouchManager_1" />
                    <ul class="details">
                        <li class="date">2012</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>   
                </a>
            </figure>
        </div>
        <div class="page-icons__Zello_lg mosaic__panel mosaic__panel--1-of-2">
            <figure>
                <i class="i__Zello_lg1" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>   
            </figure>
        </div>
        <div class="page-icons__Zello_lg mosaic__panel mosaic__panel--1-of-2">
            <figure>
                <i class="i__Zello_lg2" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>   
            </figure>
        </div>
        <div class="page-icons__Zello_lg mosaic__panel mosaic__panel--1-of-2">
            <figure>
                <i class="i__Zello_lg3" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>   
            </figure>
        </div>
        <div class="page-icons__Zello_lg mosaic__panel mosaic__panel--1-of-2">
            <figure>
                <i class="i__Zello_lg4" />
                <ul class="details">
                    <li class="date">2015</li>
                </ul>   
            </figure>
        </div>
        <div class="page-icons__FileTouchManager mosaic__panel mosaic__panel--1-of-1 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__FileTouchManager_2" />
                <ul class="details">
                    <li class="date">2012</li>
                </ul>   
            </figure>
        </div>
        <div class="page-icons__Arex_1 mosaic__panel mosaic__panel--1-of-4 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Arex_1">
                    <i class="i__Arex_1" />
                    <ul class="details">
                        <li class="date">2012</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>   
                </a>
            </figure>
        </div>
        <div class="page-icons__Arex_2 mosaic__panel mosaic__panel--1-of-4 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Arex_2">
                    <i class="i__Arex_2" />
                    <ul class="details">
                        <li class="date">2012</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>   
                </a>
            </figure>
        </div>
        <div class="page-icons__Attune mosaic__panel mosaic__panel--1-of-4 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Attune">
                    <i class="i__Attune" />
                    <ul class="details">
                        <li class="date">2013</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>   
                </a>
            </figure>
        </div>
        <div class="page-icons__Juliette_1 mosaic__panel mosaic__panel--1-of-4  mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Juliette_1">
                    <i class="i__Juliette_1" />
                    <ul class="details">
                        <li class="date">2012</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>   
                </a>
            </figure>
        </div>
        <div class="page-icons__Juliette_2 mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Juliette_2">
                    <i class="i__Juliette_2" />
                    <ul class="details">
                        <li class="date">2012</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>   
                </a>
            </figure>
        </div>
        <div class="page-icons__Juliette_3 mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Juliette_3">
                    <i class="i__Juliette_3" />
                    <ul class="details">
                        <li class="date">2012</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__FiveSquare mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-1 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/FiveSquare">
                    <i class="i__FiveSquare" />
                    <ul class="details">
                        <li class="date">2011</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>  
                </a>
            </figure>
        </div>
        <div class="page-icons__Scala mosaic__panel mosaic__panel--1-of-1 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__Scala" />
                <ul class="details">
                    <li class="date">2013</li>
                </ul>  
            </figure>
        </div>
        <div class="page-icons__Eames_Elephant mosaic__panel mosaic__panel--2-of-4 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__Eames_Elephant" />
                <ul class="details">
                    <li class="date">2012</li>
                </ul>  
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel  mosaic__panel--2-of-4 mosaic__panel--m-1-of-1">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/To">
                    <i class="i__TO" />
                    <ul class="details">
                        <li class="date">2012</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul> 
                </a>
            </figure>
        </div>
        <div class="page-icons__Pico mosaic__panel mosaic__panel--1-of-1 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__Pico" />
                <ul class="details">
                    <li class="date">2012</li>
                </ul> 
            </figure> 
        </div>
        <div class="page-icons__Studio mosaic__panel mosaic__panel--1-of-1 mosaic__panel--m-1-of-1">
            <figure>
                <i class="i__Studio" />
                <ul class="details">
                    <li class="date">2012</li>
                </ul>  
            </figure>
        </div>
        <div class="page-icons__xMod mosaic__panel mosaic__panel--1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/xMod">
                    <i class="i__xMod" />
                    <ul class="details">
                        <li class="date">2008</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}</li>
                    </ul>  
                </a>
            </figure>
        </div>
        <div class="page-icons__xMod mosaic__panel mosaic__panel--1-of-2">
            <figure>
                <i class="i__old_iOS" />
                <ul class="details">
                    <li class="date">2009</li>
                </ul> 
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-1 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Slack">
                    <i class="i__Slack" />
                    <ul class="details">
                        <li class="date">2015</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Byword">
                    <i class="i__Byword" />
                    <ul class="details">
                        <li class="date">2013</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-3 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Borderlands">
                    <i class="i__Borderlands" />
                    <ul class="details">
                        <li class="date">2015</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-4 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Dashboard">
                    <i class="i__Dashboard" />
                    <ul class="details">
                        <li class="date">2013</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-4 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Globe">
                    <i class="i__Globe" />
                    <ul class="details">
                        <li class="date">2012</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-4 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Movist">
                    <i class="i__Movist" />
                    <ul class="details">
                        <li class="date">2013</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-4 mosaic__panel--m-1-of-2 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Dashboard_2">
                    <i class="i__Dashboard_2" />
                    <ul class="details">
                        <li class="date">2011</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Discs">
                    <!-- the correct spelling in this case is most definitely with a "c," I'm just too lazy to fix the rest -->
                    <i class="i__Disc" />
                    <ul class="details">
                        <li class="date">2011</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Sparrow">
                    <i class="i__Sparrow" />
                    <ul class="details">
                        <li class="date">2012</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Aqua_Folder">
                    <i class="i__Aqua_Folders" />
                    <ul class="details">
                        <li class="date">2014</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Stores">
                    <i class="i__Stores" />
                    <ul class="details">
                        <li class="date">2014</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Alumin">
                    <i class="i__Alumin" />
                    <ul class="details">
                        <li class="date">2011</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
        <div class="page-icons__goodies mosaic__panel mosaic__panel--1-of-6 mosaic__panel--m-1-of-3 click-to-zoom">
            <figure>
                <a data-navigo class="data-navigo-sub" href="illustrations/Metallen">
                    <i class="i__Metallen" />
                    <ul class="details">
                        <li class="date">2011</li>
                        <li class="badges">{% include "svg/illustrations-viewmore.svg" %}{% include "svg/illustrations-download.svg" %}</li>
                    </ul>
                </a>
            </figure>
        </div>
    </div>
</div>