<div role="page" id="page-fragment-products" class="wrapper">
    <div class="grid grid--no-gutter">
        <div class="grid__col grid__col--2-of-2 grid__col--span-all" lang="en">
            <div class="carousel carousel-products">
                <div class="tastebud">
                    <a href="" class="data-navigo-sub" data-navigo>
                        <div class="iPhone-frame"><img src="/static/img/products/TasteBud@2x.png" srcset="/static/img/products/TasteBud@1x.png 1x, /static/img/products/TasteBud@2x.png 2x" alt="" /></div>
                        <div class="view-more">Learn More{% include "svg/caret-down.svg" %}</div>
                    </a>
                </div>
                <div class="analog-osx">
                    <a href="" class="data-navigo-sub" data-navigo>
                        <div class="laptop-frame"><img src="/static/img/products/Analog-OSX@2x.png" srcset="/static/img/products/Analog-OSX@1x.png 1x, /static/img/products/Analog-OSX@2x.png 2x" alt="" /></div>
                        <div class="view-more">Learn More{% include "svg/caret-down.svg" %}</div>
                    </a>
                </div>
                <div class="analog-ios">
                    <a href="" class="data-navigo-sub" data-navigo>
                        <div class="iPhone-frame"><img src="/static/img/products/Analog-iOS@2x.png" srcset="/static/img/products/Analog-iOS@1x.png 1x, /static/img/products/Analog-iOS@2x.png 2x" alt="" /></div>
                        <div class="view-more">Learn More{% include "svg/caret-down.svg" %}</div>
                    </a>
                </div>
                <div class="invite-ios">
                    <a href="" class="data-navigo-sub" data-navigo>
                        <div class="iPhone-frame"><img src="/static/img/products/Invite.png" srcset="/static/img/products/Invite@1x.png 1x, /static/img/products/Invite@2x.png 2x" alt="" /></div>
                        <div class="view-more">Learn More{% include "svg/caret-down.svg" %}</div>
                    </a>
                </div>
                <div class="keycard-osx">
                    <a href="" class="data-navigo-sub" data-navigo>
                        <div class="laptop-frame"><img src="/static/img/products/Keycard-OSX@2x.png" srcset="/static/img/products/Keycard-OSX@1x.png 1x, /static/img/products/Keycard-OSX@2x.png 2x" alt="" /></div>
                        <div class="view-more">Learn More{% include "svg/caret-down.svg" %}</div>
                    </a>
                </div>
                <div class="keycard-ios">
                    <a href="" class="data-navigo-sub" data-navigo>
                        <div class="iPhone-frame"><img src="/static/img/products/Keycard-iOS@2x.png" srcset="/static/img/products/Keycard-iOS@1x.png 1x, /static/img/products/Keycard-iOS@2x.png 2x" alt="" /></div>
                        <div class="view-more">Learn More{% include "svg/caret-down.svg" %}</div>
                    </a>
                </div>
                <div class="vevi-ios">
                    <a href="" class="data-navigo-sub" data-navigo>
                       <div class="iPhone-frame"><img ssrc="/static/img/products/vEvi@2x.png" srcset="/static/img/products/vEvi@1x.png 1x, /static/img/products/vEvi@2x.png 2x" alt="" /></div>
                        <div class="view-more">Learn More{% include "svg/caret-down.svg" %}</div>
                    </a>
                </div>
                <div class="AustinFreeNet-ios">
                    <a href="" class="data-navigo-sub" data-navigo>
                        <div class="iPhone-frame"><img src="/static/img/products/AFN@2x.png" srcset="/static/img/products/AFN@1x.png 1x, /static/img/products/AFN@2x.png 2x" alt="" /></div>
                        <div class="view-more">Learn More{% include "svg/caret-down.svg" %}</div>
                    </a>
                </div>
                <div class="Arex-ios">
                    <a href="" class="data-navigo-sub" data-navigo>
                        <div class="iPhone-old-frame"><img ssrc="/static/img/products/Arex@2x.png" srcset="/static/img/products/Arex@1x.png 1x, /static/img/products/Arex@2x.png 2x" alt="" /></div>
                        <div class="view-more">Learn More{% include "svg/caret-down.svg" %}</div>
                    </a>
                </div>
                <div class="FiveSquare-ios">
                    <a href="" class="data-navigo-sub" data-navigo>
                        <div class="iPhone-old-frame"><img src="/static/img/products/FiveSquare@2x.png" srcset="/static/img/products/FiveSquare@1x.png 1x, /static/img/products/FiveSquare@2x.png 2x" alt="" /></div>
                        <div class="view-more">Learn More{% include "svg/caret-down.svg" %}</div>
                    </a>
                </div>
                <div class="Diligence-osx">
                    <a href="" class="data-navigo-sub" data-navigo>
                        <div class="laptop-frame"><img src="/static/img/products/Diligence@2x.png" srcset="/static/img/products/Diligence@1x.png 1x, /static/img/products/Diligence@2x.png 2x" alt="" /></div>
                        <div class="view-more">Learn More{% include "svg/caret-down.svg" %}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
