<div role="page" id="page-fragment-photography" class="wrapper u__top-offset-7">   
    <div class="head">
        <p>I shoot exclusively with a Fujifilm X-T1.<br />To see more, follow me on <a href="http://www.instagram.com/wilthedznr">Instagram</a>.<br />
If you’re near Austin, I take <a href="photography/6_people" data-navigo>portraits</a>. <a href="contact" data-navigo>Contact me</a>.
        </p>
    </div>
    <ul class="grid">
        <li class="grid__col grid__col--1-of-2"><!--
         --><a href="photography/1_Structure-1" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Structure I</span></div><!--
             --><img src="/static/img/photography/thumbs/1.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-2"><!--
         --><a href="photography/2_Passing" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Passing</span></div><!--
             --><img src="/static/img/photography/thumbs/2.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/3_Details" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Details</span></div><!--
             --><img src="/static/img/photography/thumbs/3.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/4_AlmostNature" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Almost Nature</span></div><!--
             --><img src="/static/img/photography/thumbs/4.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
          --><a href="photography/5_Structure-2" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Structure II</span></div><!--
              --><img src="/static/img/photography/thumbs/5.jpg" alt="" /><!--
          --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-2"><!--
         --><a href="photography/6_People" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">People</span></div><!--
            --><img src="/static/img/photography/thumbs/6.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-2"><!--
         --><a href="photography/7_Causeway" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Causeway</span></div><!--
             --><img src="/static/img/photography/thumbs/7.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/8_Annecy-Carnivale" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Annecy, Carnivale</span></div><!--
             --><img src="/static/img/photography/thumbs/8.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/9_Lyon" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Lyon</span></div><!--
             --><img src="/static/img/photography/thumbs/9.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/10_Paris" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Paris</span></div><!--
             --><img src="/static/img/photography/thumbs/10.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/11_Age" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Age</span></div><!--
             --><img src="/static/img/photography/thumbs/11.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/12_Color" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Color</span></div><!--
             --><img src="/static/img/photography/thumbs/12.jpg" alt="" /><!--
         --></a><!--
     --></li>
        <li class="grid__col grid__col--1-of-3"><!--
         --><a href="photography/13_Living" class="category data-navigo-sub" data-navigo><!--
             --><div class="titlecontainer"><span class="title">Living</span></div><!--
             --><img src="/static/img/photography/thumbs/13.jpg" alt="" /><!--
         --></a><!--
     --></li>
    </ul>
</div>



<ul id="footer-fragment-photography" class="buttons">
    <li><a href="http://www.instagram.com/wilthedznr" target="_blank">{% include "svg/footer_instagram.svg" %}</a></li>
</ul>